<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>하나와영 지원서</h1>
    <p>
		이름 : <%= @name %>
    </p>
    <p>
		전화번호 : <%= @phoneNumber %>
    </p>
    <p>
		이메일 : <%= @email %>
    </p>
    <p>
		메시지 : <%= @message %>
    </p>
  </body>
</html>
