<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>하나와영 가입 신청서</title>
</head>
<body>
	<div>
		<h1>하나와영 지원자</h1>
		<p>이름 : <%= @name %></p>
		<p>전화번호 : <%= @phoneNumber %></p>
		<p>이메일 : <%= @email %></p>
		<p>메시지 : <%= @message %></p>
	</div>
</body>
</html>
