<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Borrowed
      <small>물품관리</small>
    </h1>
    <ol class="breadcrumb">
      <li><i class="fa fa-dashboard"></i>Borrowed</li>
      <li class="active">Users</li>
    </ol>
  </section>


  <!-- Main content -->
  <section class="content">

    <% if alert %>
        <div class="alert alert-danger" role="alert"><%= alert %></div>
    <% end %>
    <% if notice %>
        <div class="alert alert-success" role="alert"><%= notice %></div>
    <% end %>

    <%= render "borrowablestuffs/index_listing" %>

  </section><!-- /.content -->
</div><!-- /.content-wrapper -->

<!-- Main Footer -->
<footer class="main-footer">
  <!-- To the right -->
  <div class="pull-right hidden-xs">
    개발 넘나 힘든것
  </div>
  <!-- Default to the left -->
  <strong>Copyright &copy; 2016 <a href="#">oneandzero</a>.</strong> All rights reserved.
</footer>
