	<!-- ============================================================= MAIN ============================================================= -->
		
		<main>
			
			<!-- ============================================================= SECTION – HERO ============================================================= -->
		
			<section id="hero" class="img-bg-bottom img-bg-soft tint-bg" style="background-image: url(assets/images/art/slider03.jpg);">
				<div class="container inner">
					<div class="row">
						<div class="col-sm-10">
							<header>
								<h1>Hi, we are REEN — <br>digital creatives</h1>
							</header>
						</div><!-- /.col -->
					</div><!-- ./row -->
				</div><!-- /.container -->
			</section>
			
			<!-- ============================================================= SECTION – HERO : END ============================================================= -->
			
			
			<!-- ============================================================= SECTION – WHO WE ARE ============================================================= -->
			
			<section id="who-we-are">
				<div class="container inner-md">
					<div class="row inner-top-xs">
						
						<div class="col-sm-6 inner-right-xs inner-bottom-xs">
							<h2>Who we are</h2>
							<p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut reporemni aut labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta oreprerum tibusam. Eumenis et consent accullignis dentibea autem inisita posae volor conecus resto explabo.</p>
						</div><!-- /.col -->
						
						<div class="col-sm-6 inner-left-xs inner-bottom-xs">
							<h2>What we do</h2>
							<p>Laceaque quiae sitiorem rest non restibusaes es tumquam core posaeremni volor remped modis volor. Doloreiur qui commolu dolor oreprerum tibusam. Eumenis et consent accullignis dentibea autem inisita posae volor conecus resto explabo. Magnis modipsae que lib voloratati andigen daepeditem quiate ut reporemni aut labor.</p>
						</div><!-- /.col -->
						
					</div><!-- /.row -->
				</div><!-- /.container -->
			</section>
			
			<!-- ============================================================= SECTION – WHO WE ARE : END ============================================================= -->
			
			
			<!-- ============================================================= SECTION – TEAM ============================================================= -->
			
			<section id="team" class="light-bg">
				<div class="container inner-top inner-bottom-sm">
					
					<div class="row">
						<div class="col-md-8 col-sm-10 center-block text-center">
							<header>
								<h1>The people behind the magic</h1>
								<p>Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor.</p>
							</header>
						</div><!-- /.col -->
					</div><!-- /.row -->
					
					<div class="row inner-top-sm text-center">
						
						<div class="col-sm-4 inner-bottom-sm inner-left inner-right">
							<figure class="member">
								
								<div class="icon-overlay icn-link">
									<a href="#"><img src="assets/images/art/human03.jpg" class="img-circle"></a>
								</div><!-- /.icon-overlay -->
								
								<figcaption>
								
									<h2>
										Chris Cavill
										<span>Creative Director</span>
									</h2>
									
									<blockquote>Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes es modis.</blockquote>
									
									<ul class="social">
										<li><a href="#"><i class="icon-s-facebook"></i></a></li>
										<li><a href="#"><i class="icon-s-gplus"></i></a></li>
										<li><a href="#"><i class="icon-s-twitter"></i></a></li>
									</ul><!-- /.social -->
									
								</figcaption>
								
							</figure>
						</div><!-- /.col -->
						
						<div class="col-sm-4 inner-bottom-sm inner-left inner-right">
							<figure class="member">
								
								<div class="icon-overlay icn-link">
									<a href="#"><img src="assets/images/art/human01.jpg" class="img-circle"></a>
								</div><!-- /.icon-overlay -->
								
								<figcaption>
								
									<h2>
										Amber Jones
										<span>Marketing Director</span>
									</h2>
									
									<blockquote>Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes es modis.</blockquote>
									
									<ul class="social">
										<li><a href="#"><i class="icon-s-facebook"></i></a></li>
										<li><a href="#"><i class="icon-s-gplus"></i></a></li>
										<li><a href="#"><i class="icon-s-twitter"></i></a></li>
									</ul><!-- /.social -->
									
								</figcaption>
								
							</figure>
						</div><!-- /.col -->
						
						<div class="col-sm-4 inner-bottom-sm inner-left inner-right">
							<figure class="member">
								
								<div class="icon-overlay icn-link">
									<a href="#"><img src="assets/images/art/human05.jpg" class="img-circle"></a>
								</div><!-- /.icon-overlay -->
								
								<figcaption>
								
									<h2>
										Sophie Adams
										<span>Technical Director</span>
									</h2>
									
									<blockquote>Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes es modis.</blockquote>
									
									<ul class="social">
										<li><a href="#"><i class="icon-s-facebook"></i></a></li>
										<li><a href="#"><i class="icon-s-gplus"></i></a></li>
										<li><a href="#"><i class="icon-s-twitter"></i></a></li>
									</ul><!-- /.social -->
									
								</figcaption>
								
							</figure>
						</div><!-- /.col -->
						
					</div><!-- /.row -->
					
					<div class="row text-center">
						
						<div class="col-sm-4 inner-bottom-sm inner-left inner-right">
							<figure class="member">
								
								<div class="icon-overlay icn-link">
									<a href="#"><img src="assets/images/art/human06.jpg" class="img-circle"></a>
								</div><!-- /.icon-overlay -->
								
								<figcaption>
								
									<h2>
										Amy Williams 
										<span>Senior Designer</span>
									</h2>
									
									<blockquote>Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes es modis.</blockquote>
									
									<ul class="social">
										<li><a href="#"><i class="icon-s-facebook"></i></a></li>
										<li><a href="#"><i class="icon-s-gplus"></i></a></li>
										<li><a href="#"><i class="icon-s-twitter"></i></a></li>
									</ul><!-- /.social -->
									
								</figcaption>
								
							</figure>
						</div><!-- /.col -->
						
						<div class="col-sm-4 inner-bottom-sm inner-left inner-right">
							<figure class="member">
								
								<div class="icon-overlay icn-link">
									<a href="#"><img src="assets/images/art/human04.jpg" class="img-circle"></a>
								</div><!-- /.icon-overlay -->
								
								<figcaption>
								
									<h2>
										Toby Evans 
										<span>Designer</span>
									</h2>
									
									<blockquote>Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes es modis.</blockquote>
									
									<ul class="social">
										<li><a href="#"><i class="icon-s-facebook"></i></a></li>
										<li><a href="#"><i class="icon-s-gplus"></i></a></li>
										<li><a href="#"><i class="icon-s-twitter"></i></a></li>
									</ul><!-- /.social -->
									
								</figcaption>
								
							</figure>
						</div><!-- /.col -->
						
						<div class="col-sm-4 inner-bottom-sm inner-left inner-right">
							<figure class="member">
								
								<div class="icon-overlay icn-link">
									<a href="#"><img src="assets/images/art/human02.jpg" class="img-circle"></a>
								</div><!-- /.icon-overlay -->
								
								<figcaption>
								
									<h2>
										Jennifer Fox
										<span>Project Manager</span>
									</h2>
									
									<blockquote>Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes es modis.</blockquote>
									
									<ul class="social">
										<li><a href="#"><i class="icon-s-facebook"></i></a></li>
										<li><a href="#"><i class="icon-s-gplus"></i></a></li>
										<li><a href="#"><i class="icon-s-twitter"></i></a></li>
									</ul><!-- /.social -->
									
								</figcaption>
								
							</figure>
						</div><!-- /.col -->
						
					</div><!-- /.row -->
					
				</div><!-- /.container -->
			</section>
			
			<!-- ============================================================= SECTION – TEAM : END ============================================================= -->
			
			
			<!-- ============================================================= SECTION – HOW WE WORK ============================================================= -->
			
			<section id="how-we-work">
				<div class="container inner-top inner-bottom-sm">
					
					<div class="row">
						<div class="col-md-8 col-sm-9 center-block text-center">
							<header>
								<h1>How we work</h1>
								<p>Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam.</p>
							</header>
						</div><!-- /.col -->
					</div><!-- /.row -->
					
					<div class="row inner-top-sm text-center">
						
						<div class="col-sm-4 inner-bottom-xs">
							<div class="icon">
								<i class="icon-lamp icn lg"></i>
							</div><!-- /.icon -->
							<h2>Strategy</h2>
							<p class="text-small">Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.</p>
						</div><!-- /.col -->
						
						<div class="col-sm-4 inner-bottom-xs">
							<div class="icon">
								<i class="icon-flow-tree icn lg"></i>
							</div><!-- /.icon -->
							<h2>User Experience</h2>
							<p class="text-small">Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.</p>
						</div><!-- /.col -->
						
						<div class="col-sm-4 inner-bottom-xs">
							<div class="icon">
								<i class="icon-beaker icn lg"></i>
							</div><!-- /.icon -->
							<h2>Design</h2>
							<p class="text-small">Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.</p>
						</div><!-- /.col -->
						
					</div><!-- /.row -->
					
					<div class="row text-center">
						
						<div class="col-sm-4 inner-bottom-xs">
							<div class="icon">
								<i class="icon-code icn lg"></i>
							</div><!-- /.icon -->
							<h2>Technology</h2>
							<p class="text-small">Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.</p>
						</div><!-- /.col -->
						
						<div class="col-sm-4 inner-bottom-xs">
							<div class="icon">
								<i class="icon-thumbs-up-1 icn lg"></i>
							</div><!-- /.icon -->
							<h2>Social</h2>
							<p class="text-small">Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.</p>
						</div><!-- /.col -->
						
						<div class="col-sm-4 inner-bottom-xs">
							<div class="icon">
								<i class="icon-megaphone-1 icn lg"></i>
							</div><!-- /.icon -->
							<h2>Marketing</h2>
							<p class="text-small">Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.</p>
						</div><!-- /.col -->
						
					</div><!-- /.row -->
					
				</div><!-- /.container -->
			</section>
			
			<!-- ============================================================= SECTION – HOW WE WORK : END ============================================================= -->
			
			
			<!-- ============================================================= SECTION – TESTIMONIALS ============================================================= -->
			
			<section id="testimonials" class="light-bg img-bg-softer" style="background-image: url(assets/images/art/pattern-background01.jpg);">
				<div class="container inner">
					
					<div class="row">
						<div class="col-md-5 col-sm-8 center-block text-center">
							<header>
								<h1>What clients are saying about us</h1>
							</header>
						</div><!-- /.col -->
					</div><!-- /.row -->
					
					<div class="row">
						<div class="col-md-8 col-sm-9 center-block text-center">
							<div id="owl-testimonials" class="owl-carousel owl-outer-nav owl-ui-md">
								
								<div class="item">
									<blockquote>
										<p>Need a professional kickass looking portfolio template, REEN is the way to go! It is simple, beautiful and really easy to use. Great product!</p>
										<footer>
											<cite>Steve Gates</cite>
										</footer>
									</blockquote>
								</div><!-- /.item -->
								
								<div class="item">
									<blockquote>
										<p>REEN is a sleek, beautiful, ridiculously easy to use multipurpose template. More importantly, it’s a huge time saver for busy creatives!</p>
										<footer>
											<cite>Amber Jones</cite>
										</footer>
									</blockquote>
								</div><!-- /.item -->
								
								<div class="item">
									<blockquote>
										<p>Been putting off creating my portfolio for several years, then I found REEN and about 30 minutes later ... I have an awesome looking portfolio. Totally love it!</p>
										<footer>
											<cite>Bill Jobs</cite>
										</footer>
									</blockquote>
								</div><!-- /.item -->
								
							</div><!-- /.owl-carousel -->
						</div><!-- /.col -->
					</div><!-- /.row -->
					
				</div><!-- /.container -->
			</section>
			
			<!-- ============================================================= SECTION – TESTIMONIALS : END ============================================================= -->
			
			
			<!-- ============================================================= SECTION – GET IN TOUCH ============================================================= -->
			
			<section id="get-in-touch" class="tint-bg">
				<div class="container inner-sm">
					<div class="row">
						<div class="col-sm-10 center-block text-center">
							<h1 class="single-block">Want to work with us? <a href="contact.html" class="btn btn-large">Get in touch</a></h1>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.container -->
			</section>
			
			<!-- ============================================================= SECTION – GET IN TOUCH : END ============================================================= -->
			
		</main>
		
		<!-- ============================================================= MAIN : END ============================================================= -->
