	<!-- ============================================================= MAIN ============================================================= -->
		
		<main>
			
			<!-- ============================================================= SECTION – HERO ============================================================= -->
		
			<section id="pattern-background-1" class="light-bg img-bg-softer" style="background-image: url(/assets/images/art/pattern-background01.jpg);">
				<div class="container inner">
					<div class="row">
						<div class="col-sm-10">
							<header>
								<h1>Hi, we are 하나와영 — <br> Creators, Enginners, Designers</h1>
							</header>
						</div><!-- /.col -->
					</div><!-- ./row -->
				</div><!-- /.container -->
			</section>
			
			<!-- ============================================================= SECTION – HERO : END ============================================================= -->
			
			
			<!-- ============================================================= SECTION – WHO WE ARE ============================================================= -->
			
			<section id="who-we-are">
				<div class="container inner-md">
					<div class="row inner-top-xs">
						
						<div class="col-sm-6 inner-right-xs inner-bottom-xs">
							<h2>하나와영 이야기</h2>
							<p>  때는 1996년, 김재성 교수님은 몇몇 전기전자공학부 학생들이 소프트웨어에 탁월한 재능이 있는 것을 발견했습니다. 그러나 학과 공부만으로는 그들의 재능을 계발하기 역부족이었고, 교수님은 공대 학장과 총장을 설득하여 예산을 따내고 학회실과 컴퓨터를 마련해 주셨습니다. <br><br>  "너희는 하나와영에 청춘을 걸어라, 하나와영은 너희에게 세계를 걸겠다!"<br><br> 교수님의 이 짧은 한마디는 '하나와영'이라는 학회명의 기원이 되었습니다. 제 3 공학 별관에 있었던 하나와영 학회실은 2006년 이후 현재의 위치로 옮겨졌고, 전기전자공학부 학생 외에 다양한 학과의 학생들을 모집하여 학제 간 융합에 힘쓰고 있습니다.</p>
						</div><!-- /.col -->
						
						<div class="col-sm-6 inner-left-xs inner-bottom-xs">
							<h2></h2>
							<p>어때요. 감동적인가요? <br><br>이 이야기는 단순히 한 공대 교수님의 제자들을 향한 사랑이 아니라 그 이상의 내용을 담고 있습니다. 바로 '사회 공헌과 재능 기부'의 정신입니다. 한 교수님의 선행으로 시작된 하나와영은 수 많은 소프트웨어 분야의 인재를 배출했고, 이제 사회 곳곳에 그들의 발자취가 보이는 단계에 왔습니다.<br><br> 그 작은 노력이 국가와 사회에 기여한 결과물을 보며 우리는 생각했습니다. "우리가 거저 받은 것이니 거저 주자." 그래서 저번 학기부터 저희는 다양한 학과의 학생들을 학회원으로 받아 무료 소프트웨어 세미나를 진행하고 있습니다. 이제 우리의 작은 봉사가 사회의 큰 빛으로 빛나기를 원합니다. </p>
						</div><!-- /.col -->
						
					</div><!-- /.row -->
				</div><!-- /.container -->
			</section>
			
			<!-- ============================================================= SECTION – WHO WE ARE : END ============================================================= -->
			
			
			<!-- ============================================================= SECTION – TEAM ============================================================= -->
			
			<section id="team" class="light-bg">
				<div class="container inner-top inner-bottom-sm">
					
					<div class="row">
						<div class="col-md-8 col-sm-10 center-block text-center">
							<header>
								<h1>운영진</h1>
								<p >하나와영을 이끌어가고 있는 2016학년도 학회 운영진들입니다. <br>(불쌍한 애들이예요 많은 배려와 사랑을...)</p>
							</header>
						</div><!-- /.col -->
					</div><!-- /.row -->
					
					<div class="row inner-top-sm text-center">
						
						<div class="col-sm-3 inner-bottom-sm inner-left inner-right">
							<figure class="member">
								
								<div class="icon-overlay icn-link">
									<a href="#"><img src="/assets/images/art/human03.jpg" class="img-circle"></a>
								</div><!-- /.icon-overlay -->
								
								<figcaption>
								
									<h2>
										김재훈
										<span>회장</span>
									</h2>
									
									<p>착하고 은근히 리더십이 있어서 학회를 잘 이끌어감. 뭐 필요하면 연락하면 된다. 좀 더 카리스마 있게 해도 괜찮을 듯. <br>(판사님 저는 하루카짱을 모릅니다 읍읍)
									</p>
									
									
								</figcaption>
								
							</figure>
						</div><!-- /.col -->

						
						<div class="col-sm-3 inner-bottom-sm inner-left inner-right">
							<figure class="member">
								
								<div class="icon-overlay icn-link">
									<a href="#"><img src="/assets/images/art/human05.jpg" class="img-circle"></a>
								</div><!-- /.icon-overlay -->
								
								<figcaption>
								
									<h2>
										오영택
										<span>부회장</span>
									</h2>
									
									<p>15학번인데 벌써 부회장의 자리에 오른 능력자. 차기 회장이라는 소문이 있던데...?! <br>(물론 본인은 군대 간다고 주장하고 있다)
									</p>
							
									<ul class="social">
										<li><a href="http://facebook.com/youlooksoupset"><i class="icon-s-facebook"></i></a></li>
									</ul><!-- /.social -->
							
									
								</figcaption>
								
							</figure>
						</div><!-- /.col -->


            <div class="col-sm-3 inner-bottom-sm inner-left inner-right">
              <figure class="member">

                <div class="icon-overlay icn-link">
                  <a href="#"><img src="/assets/images/art/human06.jpg" class="img-circle"></a>
                </div><!-- /.icon-overlay -->

                <figcaption>

                  <h2>
                    신홍규
                    <span>부회장</span>
                  </h2>

                  <p>베일에 감춰진 신비스러운 존재. 우리는 아직 그를 잘 모른다. 궁금하면 학회에 들어오면 된다.</p>

                </figcaption>

              </figure>
            </div><!-- /.col -->
            
            <div class="col-sm-3 inner-bottom-sm inner-left inner-right">
              <figure class="member">

                <div class="icon-overlay icn-link">
                  <a href="#"><img src="/assets/images/art/human06.jpg" class="img-circle"></a>
                </div><!-- /.icon-overlay -->

                <figcaption>

                  <h2>
                    신홍규
                    <span>부회장</span>
                  </h2>

                  <p>베일에 감춰진 신비스러운 존재. 우리는 아직 그를 잘 모른다. 궁금하면 학회에 들어오면 된다.</p>

                </figcaption>

              </figure>
            </div><!-- /.col -->
						
					</div><!-- /.row -->
					
				</div><!-- /.container -->
			</section>
			
			<!-- ============================================================= SECTION – TEAM : END ============================================================= -->
			
			
			<!-- ============================================================= SECTION – HOW WE WORK ============================================================= -->
			
			<section id="how-we-work">
				<div class="container inner-top inner-bottom-sm">
					
					<div class="row">
						<div class="col-md-8 col-sm-9 center-block text-center">
							<header>
								<h1>How we work</h1>
								<p>Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam.</p>
							</header>
						</div><!-- /.col -->
					</div><!-- /.row -->
					
					<div class="row inner-top-sm text-center">
						
						<div class="col-sm-4 inner-bottom-xs">
							<div class="icon">
								<i class="icon-lamp icn lg"></i>
							</div><!-- /.icon -->
							<h2>Strategy</h2>
							<p class="text-small">Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.</p>
						</div><!-- /.col -->
						
						<div class="col-sm-4 inner-bottom-xs">
							<div class="icon">
								<i class="icon-flow-tree icn lg"></i>
							</div><!-- /.icon -->
							<h2>User Experience</h2>
							<p class="text-small">Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.</p>
						</div><!-- /.col -->
						
						<div class="col-sm-4 inner-bottom-xs">
							<div class="icon">
								<i class="icon-beaker icn lg"></i>
							</div><!-- /.icon -->
							<h2>Design</h2>
							<p class="text-small">Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.</p>
						</div><!-- /.col -->
						
					</div><!-- /.row -->
					
					<div class="row text-center">
						
						<div class="col-sm-4 inner-bottom-xs">
							<div class="icon">
								<i class="icon-code icn lg"></i>
							</div><!-- /.icon -->
							<h2>Technology</h2>
							<p class="text-small">Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.</p>
						</div><!-- /.col -->
						
						<div class="col-sm-4 inner-bottom-xs">
							<div class="icon">
								<i class="icon-thumbs-up-1 icn lg"></i>
							</div><!-- /.icon -->
							<h2>Social</h2>
							<p class="text-small">Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.</p>
						</div><!-- /.col -->
						
						<div class="col-sm-4 inner-bottom-xs">
							<div class="icon">
								<i class="icon-megaphone-1 icn lg"></i>
							</div><!-- /.icon -->
							<h2>Marketing</h2>
							<p class="text-small">Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.</p>
						</div><!-- /.col -->
						
					</div><!-- /.row -->
					
				</div><!-- /.container -->
			</section>
			
			<!-- ============================================================= SECTION – HOW WE WORK : END ============================================================= -->
			
			
			<!-- ============================================================= SECTION – TESTIMONIALS ============================================================= -->
			
			<section id="testimonials" class="light-bg img-bg-softer" style="background-image: url(/assets/images/art/pattern-background01.jpg);">
				<div class="container inner">
					
					<div class="row">
						<div class="col-md-5 col-sm-8 center-block text-center">
							<header>
								<h1>What clients are saying about us</h1>
							</header>
						</div><!-- /.col -->
					</div><!-- /.row -->
					
					<div class="row">
						<div class="col-md-8 col-sm-9 center-block text-center">
							<div id="owl-testimonials" class="owl-carousel owl-outer-nav owl-ui-md">
								
								<div class="item">
									<blockquote>
										<p>Need a professional kickass looking portfolio template, REEN is the way to go! It is simple, beautiful and really easy to use. Great product!</p>
										<footer>
											<cite>Steve Gates</cite>
										</footer>
									</blockquote>
								</div><!-- /.item -->
								
								<div class="item">
									<blockquote>
										<p>REEN is a sleek, beautiful, ridiculously easy to use multipurpose template. More importantly, it’s a huge time saver for busy creatives!</p>
										<footer>
											<cite>Amber Jones</cite>
										</footer>
									</blockquote>
								</div><!-- /.item -->
								
								<div class="item">
									<blockquote>
										<p>Been putting off creating my portfolio for several years, then I found REEN and about 30 minutes later ... I have an awesome looking portfolio. Totally love it!</p>
										<footer>
											<cite>Bill Jobs</cite>
										</footer>
									</blockquote>
								</div><!-- /.item -->
								
							</div><!-- /.owl-carousel -->
						</div><!-- /.col -->
					</div><!-- /.row -->
					
				</div><!-- /.container -->
			</section>
			
			<!-- ============================================================= SECTION – TESTIMONIALS : END ============================================================= -->
			
			
			<!-- ============================================================= SECTION – GET IN TOUCH ============================================================= -->
			
			<section id="get-in-touch" class="tint-bg">
				<div class="container inner-sm">
					<div class="row">
						<div class="col-sm-10 center-block text-center">
							<h1 class="single-block">Want to work with us? <a href="contact.html" class="btn btn-large">Get in touch</a></h1>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.container -->
			</section>
			
			<!-- ============================================================= SECTION – GET IN TOUCH : END ============================================================= -->
			
		</main>
		
		<!-- ============================================================= MAIN : END ============================================================= -->
