
		<main>
			
			<!-- ============================================================= SECTION – PORTFOLIO POST ============================================================= -->
			
			<section id="portfolio-post">
				<div class="container inner-top-md">
					<div class="row">
					
						<div class="col-md-8">
							<div id="owl-work" class="owl-carousel owl-inner-pagination owl-inner-nav owl-ui-md">
								
								<div class="item">
									<figure>
										<img src="/assets/images/art/work08-lg.jpg" alt="">
									</figure>
								</div><!-- /.item -->
								
							</div><!-- /.owl-carousel -->
						</div><!-- /.col -->						

						
						<div class="col-md-4 inner-left-sm">
							<header>
								<h2>하나와영 Alumni</h2>	
									<ul class="item-details inner-top-xs outer-top-xs border-top">
									</ul><!-- /.item-details -->
								<h3>김하나(Hana-Kim)</h3>
								<ul class="item-details inner-top-xs outer-top-xs border-top">
									<li class="categories">Master Degree</li>
									<li class="date">Graduation: 2017</li>									
									<li class="client">기수: 3기</li>
									<li class="url">Email: koreaoaz@korea.ac.kr</li>
								</ul><!-- /.item-details -->
							</header>
						</div><!-- /.col -->
						
					</div><!-- /.row -->
				</div><!-- /.container -->
				
			</section>
			
			<!-- ============================================================= SECTION – PORTFOLIO POST : END ============================================================= -->
			
			
			<!-- ============================================================= SECTION – MORE WORKS ============================================================= -->
			
			<section id="more-works">
				<div class="container inner-top-sm inner-bottom">
	
				</div><!-- /.container -->
			</section>
			
			<!-- ============================================================= SECTION – MORE WORKS : END ============================================================= -->
			
		
		</main>
		
		<!-- ============================================================= MAIN : END ============================================================= -->
		
