
		<main>
			
			<!-- ============================================================= SECTION – PORTFOLIO POST ============================================================= -->
			
			<section id="portfolio-post">
				<div class="container inner-top-md">
					<div class="row">
					
						<div class="col-md-8">
							<div id="owl-work" class="owl-carousel owl-inner-pagination owl-inner-nav owl-ui-md">
								
								<div class="item">
									<figure>
										<img src="/assets/images/art/work08-lg.jpg" alt="">
									</figure>
								</div><!-- /.item -->
								
							</div><!-- /.owl-carousel -->
						</div><!-- /.col -->						

						
						<div class="col-md-4 inner-left-sm">
							<header>
								<h2>하나와영 Alumni</h2>	
									<ul class="item-details inner-top-xs outer-top-xs border-top">
									</ul><!-- /.item-details -->
								<h3>김니콜라스(Nicholas-Kim)</h3>
								<ul class="item-details inner-top-xs outer-top-xs border-top">
									<li class="categories">Master Degree</li>
									<li class="date">Graduation: 2017</li>									
									<li class="client">3th member</li>
									<li class="url">Email: koreaoaz@korea.ac.kr</li>
									<li class="description"><p>안녕하세요. 저는 하나와영의 짱짱맨, 총무를 맡은 니콜라스입니다.
									  하나와영의 모든 금전은 제 손을 거쳐가며 모든 행사는 저의 동의 없이는 진행될 수 없습니다.
									    새내기 여러분! 제게 잘 보이셔야겠죠? 여러분의 밝은 미래를 위해서 말입니다... 흐흐흐...</p></li>
								</ul><!-- /.item-details -->
							</header>
						</div><!-- /.col -->
						
					</div><!-- /.row -->
				</div><!-- /.container -->
				
			</section>
			
			<!-- ============================================================= SECTION – PORTFOLIO POST : END ============================================================= -->
			
			
			<!-- ============================================================= SECTION – MORE WORKS ============================================================= -->
			
			<section id="more-works">
				<div class="container inner-top-sm inner-bottom">
	
				</div><!-- /.container -->
			</section>
			
			<!-- ============================================================= SECTION – MORE WORKS : END ============================================================= -->
			
		
		</main>
		
		<!-- ============================================================= MAIN : END ============================================================= -->
		