
		<!-- ============================================================= MAIN ============================================================= -->
		
		<main>
			
			<div class="container inner">
				<div class="row">
					
					<div class="col-md-3 inner-right-md inner-bottom-sm">
						
						<!-- ============================================================= SIDE NAVIGATION ============================================================= -->
							
						<ul class="sidenav">
							<li><a href="#">Board1</a></li>
							<li><a href="#">Board2</a></li>
							<li><a href="#">Board3</a></li>
						</ul><!-- /.sidenav -->
						
						<!-- ============================================================= SIDE NAVIGATION : END ============================================================= -->
						
					</div><!-- /.col -->
					
					<div class="col-md-9 inner-left-md border-left">
						
						<!-- ============================================================= SECTION – HERO ============================================================= -->
					

						
						<!-- ============================================================= SECTION – HERO : END ============================================================= -->
						
						
						<!-- ============================================================= SECTION – CONTENT ============================================================= -->

															

						<section class="content-header"  style="padding-bottom: 5px; border-bottom: 2px solid;">
						    <h1>
						      게시판
						    </h1>
						    <ol class="breadcrumb">
						      <li><i class="fa fa-dashboard"></i>Board</li>
						      <li class="active"><a clss="dropdown" href="#">Board1</a></li>
						    </ol>
						</section>
										

											<table width=100%>
												
												<tr class="board_container" class="text-normal">
													<td class="postnum">
														
													</td>
													
													<td class="title" align="center">
														<b>제목</b>
													</td>
													
													<td class="bauthor">
														<b>작성자</b>
													</td>
													
													<td class="date">
														<b>날짜</b>
													</td>
													
													<td class="bview">
														<b>조회</b>
													</td>
												</tr>
												
												
												<tr class="board_container text-small">
													<td class="postnum">
														xx
													</td>
													
													<td class="title">
														<a class="dropdown" href="/pages/show_post">하나와영 게시판 테스트가 진행됩니다. (10)</a>
													</td>
													
													<td class="bauthor">
														작성자
													</td>
													
													<td class="date">
														2016-07-07
													</td>
													<td class="bview">
														10
													</td>
												</tr>
												
												<tr class="board_container text-small">
													<td class="postnum">
														xx
													</td>
													
													<td class="title">
														<a class="dropdown" href="#">하나와영 게시판 테스트가 진행됩니다. (10)</a>
													</td>
													
													<td class="bauthor">
														작성자
													</td>
													
													<td class="date">
														2016-07-07
													</td>
													<td class="bview">
														10
													</td>
												</tr>
												
												<tr class="board_container text-small">
													<td class="postnum">
														xx
													</td>
													
													<td class="title">
														<a class="dropdown" href="#">하나와영 게시판 테스트가 진행됩니다. (10)</a>
													</td>
													
													<td class="bauthor">
														작성자
													</td>
													
													<td class="date">
														2016-07-07
													</td>
													<td class="bview">
														10
													</td>
												</tr>

											</table>
						<a href="/pages/new_post" class="btn btn-small btn-gray">글작성</a>
						<br /><br />
						<center>
							<ul class="pagination">
								<li><a href="#">Prev</a></li>
								<li class="active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">Next</a></li>
							</ul><!-- /.pagination --> 
						</center>



	
									
								
						
						<!-- ============================================================= SECTION – CONTENT : END ============================================================= -->
						
					</div><!-- ./col -->
						
				</div><!-- /.row -->
			</div><!-- /.container -->
			
		</main>
		
		<!-- ============================================================= MAIN : END ============================================================= -->