<!-- ============================================================= HEADER ============================================================= -->

<header>
  <div class="navbar">

    <div class="navbar-header">
      <div class="container">

        <ul class="info pull-left">
          <li><a href="#"><i class="icon-mail-1 contact"></i> koreaoaz@gmail.com</a></li>
          <li><i class="icon-mobile contact"></i> +00 (123) 456 78 90</li>
        </ul><!-- /.info -->

        <ul class="social pull-right">
          <li><a href="https://www.facebook.com/groups/161712400527699/"><i class="icon-s-facebook"></i></a></li>
          <!--<li><a href="#"><i class="icon-s-gplus"></i></a></li>-->
          <li><a href="#"><i class="icon-s-twitter"></i></a></li>
          <!--<li><a href="#"><i class="icon-s-pinterest"></i></a></li>-->
          <!--<li><a href="#"><i class="icon-s-behance"></i></a></li>-->
          <!--<li><a href="#"><i class="icon-s-dribbble"></i></a></li>-->
        </ul><!-- /.social -->

        <!-- ============================================================= LOGO MOBILE ============================================================= -->

        <a class="navbar-brand" href="/"><img src="assets/images/logo.png" class="logo" alt=""></a>

        <!-- ============================================================= LOGO MOBILE : END ============================================================= -->

        <a class="btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i class='icon-menu-1'></i></a>

      </div><!-- /.container -->
    </div><!-- /.navbar-header -->

    <div class="yamm">
      <div class="navbar-collapse collapse">
        <div class="container">

          <!-- ============================================================= LOGO ============================================================= -->

          <a class="navbar-brand" href="/"><img src="assets/images/logo.png" class="logo" alt=""></a>

          <!-- ============================================================= LOGO : END ============================================================= -->


          <!-- ============================================================= MAIN NAVIGATION ============================================================= -->

          <ul class="nav navbar-nav">

            <li class="dropdown">
              <a href="#" class="dropdown-toggle js-activated">Home</a>

              <ul class="dropdown-menu">
                <li><a href="index.html">Product Style</a></li>
                <li><a href="index2.html">Service Style</a></li>
                <li><a href="index3.html">Agency Style</a></li>
                <li><a href="index4.html">Portfolio Style</a></li>
                <li><a href="index5.html">Showcase Style</a></li>
              </ul><!-- /.dropdown-menu -->
            </li><!-- /.dropdown -->

            <li class="dropdown">
              <a href="#" class="dropdown-toggle js-activated">Portfolio</a>

              <ul class="dropdown-menu">
                <li><a href="portfolio.html">3 Columns Grid</a></li>
                <li><a href="portfolio2.html">3 Columns Details Grid</a></li>
                <li><a href="portfolio3.html">4 Columns Grid</a></li>
                <li><a href="portfolio4.html">4 Columns Details Grid</a></li>
                <li><a href="portfolio5.html">Fullscreen Grid</a></li>
                <li><a href="portfolio-post.html">Post with Slider I</a></li>
                <li><a href="portfolio-post2.html">Post with Slider II</a></li>
                <li><a href="portfolio-post3.html">Post with Images I</a></li>
                <li><a href="portfolio-post4.html">Post with Images II</a></li>
                <li><a href="portfolio-post5.html">Post with Video</a></li>
                <li><a href="portfolio-post6.html">Post with Audio</a></li>
              </ul><!-- /.dropdown-menu -->
            </li><!-- /.dropdown -->

            <li class="dropdown">
              <a href="#" class="dropdown-toggle js-activated">Blog</a>

              <ul class="dropdown-menu">
                <li><a href="blog.html">Sidebar right</a></li>
                <li><a href="blog2.html">Sidebar left</a></li>
                <li><a href="blog3.html">Without Sidebar</a></li>
                <li><a href="blog4.html">2 Columns Grid Sidebar right</a></li>
                <li><a href="blog5.html">2 Columns Grid Sidebar left</a></li>
                <li><a href="blog6.html">2 Columns Grid without Sidebar</a></li>
                <li><a href="blog7.html">3 Columns Grid without Sidebar</a></li>
                <li><a href="blog-post.html">Post Sidebar right</a></li>
                <li><a href="blog-post2.html">Post Sidebar left</a></li>
                <li><a href="blog-post3.html">Post without Sidebar</a></li>
              </ul><!-- /.dropdown-menu -->
            </li><!-- /.dropdown -->

            <li class="dropdown">
              <a href="#" class="dropdown-toggle js-activated">Pages</a>

              <ul class="dropdown-menu">

                <li class="dropdown-submenu">
                  <a href="#">One Page</a>

                  <ul class="dropdown-menu">
                    <li><a href="one-page1.html">Product Style</a></li>
                    <li><a href="one-page2.html">Service Style</a></li>
                    <li><a href="one-page3.html">Agency Style</a></li>
                    <li><a href="one-page4.html">Portfolio Style</a></li>
                    <li><a href="one-page5.html">Showcase Style</a></li>
                  </ul><!-- /.dropdown-menu -->
                </li><!-- /.dropdown-submenu -->

                <li><a href="about.html">About I</a></li>
                <li><a href="about2.html">About II</a></li>
                <li><a href="services.html">Services I</a></li>
                <li><a href="services2.html">Services II</a></li>
                <li><a href="services3.html">Services III</a></li>
                <li><a href="pricing.html">Pricing I</a></li>
                <li><a href="pricing2.html">Pricing II</a></li>
                <li><a href="sidenav.html">Side Navigation</a></li>
              </ul><!-- /.dropdown-menu -->
            </li><!-- /.dropdown -->

            <li class="dropdown">
              <a href="#" class="dropdown-toggle js-activated">Features</a>

              <ul class="dropdown-menu">

                <li><a href="slider-carousel.html">Slider/Carousel</a></li>
                <li><a href="modal.html">Modal</a></li>
                <li><a href="tab.html">Tab</a></li>
                <li><a href="accordion.html">Accordion</a></li>
                <li><a href="isotope.html">Isotope</a></li>
                <li><a href="styles.html">Styles</a></li>
                <li><a href="font-icons.html">Font Icons</a></li>
                <li><a href="backgrounds.html">Backgrounds</a></li>

                <li class="dropdown-submenu">
                  <a href="#">Colors</a>

                  <ul class="dropdown-menu">
                    <li><a class="changecolor green" title="Green color">Green</a></li>
                    <li><a class="changecolor blue" title="Blue color">Blue</a></li>
                    <li><a class="changecolor red" title="Red color">Red</a></li>
                    <li><a class="changecolor pink" title="Pink color">Pink</a></li>
                    <li><a class="changecolor purple" title="Purple color">Purple</a></li>
                    <li><a class="changecolor orange" title="Orange color">Orange</a></li>
                    <li><a class="changecolor navy" title="Navy color">Navy</a></li>
                    <li><a class="changecolor gray" title="Gray color">Gray</a></li>
                  </ul><!-- /.dropdown-menu -->
                </li><!-- /.dropdown-submenu -->

                <li class="dropdown-submenu">
                  <a href="#">Submenu Levels</a>

                  <ul class="dropdown-menu">
                    <li><a href="#">Second Level</a></li>
                    <li><a href="#">Second Level</a></li>

                    <li class="dropdown-submenu">
                      <a href="#">More</a>

                      <ul class="dropdown-menu">
                        <li><a href="#">Third Level</a></li>
                        <li><a href="#">Third Level</a></li>
                      </ul><!-- /.dropdown-menu -->
                    </li><!-- /.dropdown-submenu -->
                  </ul><!-- /.dropdown-menu -->
                </li><!-- /.dropdown-submenu -->

              </ul><!-- /.dropdown-menu -->
            </li><!-- /.dropdown -->

            <!-- ============================================================= MEGA MENU ============================================================= -->

            <li class="dropdown yamm-fullwidth">
              <a href="#" class="dropdown-toggle js-activated">Mega Menu</a>

              <ul class="dropdown-menu yamm-dropdown-menu">
                <li>
                  <div class="yamm-content row">

                    <div class="col-sm-3 inner">
                      <h4>Focus on</h4>
                      <figure>
                        <div class="icon-overlay icn-link">
                          <a href="portfolio-post.html"><img src="assets/images/art/work01.jpg" alt=""></a>
                        </div>
                        <figcaption>
                          <p>Consed quodips ameniat empernam que apid cust quas molor eatis numa estio.</p>
                          <a href="portfolio-post.html" class="btn">View Project</a>
                        </figcaption>
                      </figure>
                    </div><!-- /.col -->

                    <div class="col-sm-3 inner">
                      <h4>Special Pages</h4>

                      <ul class="circled">
                        <li><a href="portfolio2.html">3 Columns Details Grid Portfolio</a></li>
                        <li><a href="portfolio5.html">Fullscreen Grid Portfolio</a></li>
                        <li><a href="portfolio-post5.html">Portfolio Post with Video</a></li>
                        <li><a href="blog5.html">2 Columns Grid Blog with Left Sidebar</a></li>
                        <li><a href="blog7.html">3 Columns Grid Blog without Sidebar</a></li>
                        <li><a href="blog-post.html">Blog Post with Right Sidebar</a></li>
                        <li><a href="sidenav.html">Side Navigation Page</a></li>
                        <li><a href="about2.html">About Page II</a></li>
                        <li><a href="services.html">Service Page I</a></li>
                        <li><a href="pricing.html">Pricing Page I</a></li>
                        <li><a href="contact.html">Contact Page I</a></li>
                      </ul><!-- /.circled -->
                    </div><!-- /.col -->

                    <div class="col-sm-3 inner">
                      <h4>Latest Works</h4>

                      <div class="row thumbs gap-xs">

                        <div class="col-xs-6 thumb">
                          <figure class="icon-overlay icn-link">
                            <a href="portfolio-post.html"><img src="assets/images/art/work02.jpg" alt=""></a>
                          </figure>
                        </div><!-- /.thumb -->

                        <div class="col-xs-6 thumb">
                          <figure class="icon-overlay icn-link">
                            <a href="portfolio-post.html"><img src="assets/images/art/work03.jpg" alt=""></a>
                          </figure>
                        </div><!-- /.thumb -->

                        <div class="col-xs-6 thumb">
                          <figure class="icon-overlay icn-link">
                            <a href="portfolio-post.html"><img src="assets/images/art/work04.jpg" alt=""></a>
                          </figure>
                        </div><!-- /.thumb -->

                        <div class="col-xs-6 thumb">
                          <figure class="icon-overlay icn-link">
                            <a href="portfolio-post.html"><img src="assets/images/art/work05.jpg" alt=""></a>
                          </figure>
                        </div><!-- /.thumb -->

                        <div class="col-xs-6 thumb">
                          <figure class="icon-overlay icn-link">
                            <a href="portfolio-post.html"><img src="assets/images/art/work06.jpg" alt=""></a>
                          </figure>
                        </div><!-- /.thumb -->

                        <div class="col-xs-6 thumb">
                          <figure class="icon-overlay icn-link">
                            <a href="portfolio-post.html"><img src="assets/images/art/work07.jpg" alt=""></a>
                          </figure>
                        </div><!-- /.thumb -->

                      </div><!-- /.row -->
                    </div><!-- /.col -->

                    <div class="col-sm-3 inner">
                      <h4>About Us</h4>
                      <p>Voluptat ibusaped molorporro consequ idustibus. Reressi morum ut dolessiti tem nihicid ernatum, coria volore non pro officat ut autem accaborem conet. Omnis peribus qui dolent praeperrum coria.</p>
                      <p>Equam conesti occum dolorest, quae venderes quistius, comnitatur sae dinam nonseculpa cum fugit is verciam.</p>
                      <a href="about.html" class="btn">Read More</a>
                    </div><!-- /.col -->

                  </div><!-- /.yamm-content -->
                </li>
              </ul><!-- /.yamm-dropdown-menu -->
            </li><!-- /.yamm-fullwidth -->

            <!-- ============================================================= MEGA MENU : END ============================================================= -->

            <li class="dropdown">
              <a href="#" class="dropdown-toggle js-activated">Contact</a>

              <ul class="dropdown-menu">
                <li><a href="contact.html">Contact I</a></li>
                <li><a href="contact2.html">Contact II</a></li>
                <li><a href="contact3.html">Contact III</a></li>
              </ul><!-- /.dropdown-menu -->
            </li><!-- /.dropdown -->

            <li class="">
              <% unless user_signed_in? %>
                <a href="/users/sign_in" class="">Log In</a>
              <% else %>
                <a href="/users/sign_out" data-method="DELETE" class="">Log out</a>
              <% end %>

              <!--
              <ul class="dropdown-menu">
                <li><a href="contact.html">Contact I</a></li>
                <li><a href="contact2.html">Contact II</a></li>
                <li><a href="contact3.html">Contact III</a></li>
              </ul> -->

            </li><!-- /.dropdown -->

            <li class="dropdown pull-right searchbox">
              <a href="#" class="dropdown-toggle js-activated"><i class="icon-search"></i></a>

              <div class="dropdown-menu">
                <form id="search" class="navbar-form search" role="search">
                  <input type="search" class="form-control" placeholder="Type to search">
                  <button type="submit" class="btn btn-default btn-submit icon-right-open"></button>
                </form>
              </div><!-- /.dropdown-menu -->
            </li><!-- /.searchbox -->

          </ul><!-- /.nav -->

          <!-- ============================================================= MAIN NAVIGATION : END ============================================================= -->

        </div><!-- /.container -->
      </div><!-- /.navbar-collapse -->
    </div><!-- /.yamm -->
  </div><!-- /.navbar -->
</header>

<!-- ============================================================= HEADER : END ============================================================= -->


<!-- ============================================================= MAIN ============================================================= -->

<main>

  <!-- ============================================================= SECTION – HERO ============================================================= -->

  <section id="hero">
    <div id="owl-main" class="owl-carousel height-md owl-inner-nav owl-ui-lg">

      <div class="item" style="background-image: url(assets/images/art/slider01.jpg);">
        <div class="container">
          <div class="caption vertical-center text-center">

            <h1 class="fadeInDown-1 light-color">요시! 그란도시즌!</h1>
            <p class="fadeInDown-2 medium-color">Create your online portfolio in minutes with the professionally and lovingly designed REEN website template. Customize your site with versatile and easy to use features.</p>
            <div class="fadeInDown-3">
              <a href="#" class="btn btn-large">Get started now</a>
            </div><!-- /.fadeIn -->

          </div><!-- /.caption -->
        </div><!-- /.container -->
      </div><!-- /.item -->

      <div class="item" style="background-image: url(assets/images/art/slider02.jpg);">
        <div class="container">
          <div class="caption vertical-center text-right">

            <h1 class="fadeInLeft-1 light-color">Fresh and <br>beautiful design</h1>
            <p class="fadeInLeft-2 light-color">REEN is designed to showcase your talent and put your work in the forefront. <br>Professionally use of typography and layout that fits your content.</p>
            <div class="fadeInLeft-3">
              <a href="#" class="btn btn-large">Get started now</a>
            </div><!-- /.fadeIn -->

          </div><!-- /.caption -->
        </div><!-- /.container -->
      </div><!-- /.item -->

      <div class="item" style="background-image: url(assets/images/art/slider03.jpg);">
        <div class="container">
          <div class="caption vertical-center text-left">

            <h1 class="fadeInRight-1 dark-bg light-color"><span>Clean and <br>reusable code</span></h1>
            <p class="fadeInRight-2 dark-color">The clean code allows you to easily copy code blocks from content <br>modules and past them in different places or layouts.</p>
            <div class="fadeInRight-3">
              <a href="#" class="btn btn-large">Get started now</a>
            </div><!-- /.fadeIn -->

          </div><!-- /.caption -->
        </div><!-- /.container -->
      </div><!-- /.item -->

      <div class="item" style="background-image: url(assets/images/art/slider04.jpg);">
        <div class="container">
          <div class="caption vertical-top text-right">

            <h1 class="fadeIn-1 dark-bg light-color"><span>Just focus on <br>your creativity</span></h1>
            <p class="fadeIn-2 light-color">Take a break from messing around with heavy coding and spend <br>your time brainstorming ideas for your next project.</p>
            <div class="fadeIn-3">
              <a href="#" class="btn btn-large">Get started now</a>
            </div><!-- /.fadeIn -->

          </div><!-- /.caption -->
        </div><!-- /.container -->
      </div><!-- /.item -->

      <div class="item" style="background-image: url(assets/images/art/slider05.jpg);">
        <div class="container">
          <div class="caption vertical-top text-center">

            <h1 class="fadeInDown-1 light-color">Showcase <br>your content</h1>
            <p class="fadeInDown-2 medium-color">With REEN you have the possibility to create websites for various <br>contents quickly and easily. Now it's up to you!</p>
            <div class="fadeInDown-3">
              <a href="#" class="btn btn-large">Get started now</a>
            </div><!-- /.fadeIn -->

          </div><!-- /.caption -->
        </div><!-- /.container -->
      </div><!-- /.item -->

    </div><!-- /.owl-carousel -->
  </section>

  <!-- ============================================================= SECTION – HERO : END ============================================================= -->


  <!-- ============================================================= SECTION – PRODUCT ============================================================= -->

  <section id="product">
    <div class="container inner">

      <div class="row">

        <div class="col-sm-6 inner-right-xs text-right">
          <figure><img src="assets/images/art/product01.jpg" alt=""></figure>
        </div><!-- /.col -->

        <div class="col-sm-6 inner-top-xs inner-left-xs">
          <h2>Fully flexible user interface</h2>
          <p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut reporemni aut labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta oreprerum tibusam. Eumenis et consent accullignis dentibea autem inisita posae volor conecus resto explabo.</p>
          <a href="#" class="txt-btn">Check out the functions</a>
        </div><!-- /.col -->

      </div><!-- /.row -->

      <div class="row inner-top-md">

        <div class="col-sm-6 col-sm-push-6 inner-left-xs">
          <figure><img src="assets/images/art/product02.jpg" alt=""></figure>
        </div><!-- /.col -->

        <div class="col-sm-6 col-sm-pull-6 inner-top-xs inner-right-xs">
          <h2>Over 14,000 designs available</h2>
          <p>Magnis modipsae que lib voloratati andigen daepeditem quiate es reporemus aut labor. Laceaque quiae sitiorem rest non restibusaes dem tumquam core posae volor remped modis volor. Doloreiur quia commolu ptatemp dolupta oreprerum tibusam eumenis et consent accullignis lib dentibea autem inisita. Conecus iure posae volor remped modis aut accabora incim resto explabo eictemperum quiae sitiorem.</p>
          <a href="#" class="txt-btn">Visit the showroom</a>
        </div><!-- /.col -->

      </div><!-- /.row -->

      <div class="row inner-top-md">

        <div class="col-sm-6 inner-right-xs text-right">
          <figure><img src="assets/images/art/product03.jpg" alt=""></figure>
        </div><!-- /.col -->

        <div class="col-sm-6 inner-top-xs inner-left-xs">
          <h2>Social media made even easier</h2>
          <p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut reporemni aut labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta oreprerum tibusam emnis et consent accullignis.</p>
          <a href="#" class="txt-btn">Learn more about it</a>
        </div><!-- /.col -->

      </div><!-- /.row -->

    </div><!-- /.container -->
  </section>

  <!-- ============================================================= SECTION – PRODUCT : END ============================================================= -->


  <!-- ============================================================= SECTION – VISIT OUR STORE ============================================================= -->

  <section id="visit-our-store" class="img-bg img-bg-soft tint-bg" style="background-image: url(assets/images/art/image-background04.jpg);">
    <div class="container inner">

      <div class="row">
        <div class="col-md-8 col-sm-9">
          <header>
            <h1>Customize your own model</h1>
            <p>Magnis modipsae que voloratati andigen daepeditem quiate conecus aut labore. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam explabo.</p>
          </header>
          <a href="#" class="btn btn-large">Visit our store</a>
        </div><!-- /.col -->
      </div><!-- /.row -->

    </div><!-- /.container -->
  </section>

  <!-- ============================================================= SECTION – VISIT OUR STORE : END ============================================================= -->


  <!-- ============================================================= SECTION – REASONS ============================================================= -->

  <section id="reasons">
    <div class="container inner">

      <div class="row">
        <div class="col-md-8 col-sm-9 center-block text-center">
          <header>
            <h1>5 Reasons <br>why you should use our product</h1>
            <p>Doloreiur quia commolu dolupta oreprerum tibusam.</p>
          </header>
        </div><!-- /.col -->
      </div><!-- /.row -->

      <div class="row inner-top-sm">
        <div class="col-xs-12">
          <div class="tabs tabs-reasons tabs-circle-top tab-container">

            <ul class="etabs text-center">
              <li class="tab"><a href="#tab-1"><div>1</div>Function</a></li>
              <li class="tab"><a href="#tab-2"><div>2</div>Simplicity</a></li>
              <li class="tab"><a href="#tab-3"><div>3</div>Design</a></li>
              <li class="tab"><a href="#tab-4"><div>4</div>Social</a></li>
              <li class="tab"><a href="#tab-5"><div>5</div>Community</a></li>
            </ul><!-- /.etabs -->

            <div class="panel-container">

              <div class="tab-content" id="tab-1">
                <div class="row">

                  <div class="col-md-5 col-md-push-5 col-md-offset-1 col-sm-6 col-sm-push-6 inner-left-xs">
                    <figure><img src="assets/images/art/product04.jpg" alt=""></figure>
                  </div><!-- /.col -->

                  <div class="col-md-5 col-md-pull-5 col-sm-6 col-sm-pull-6 inner-top-xs inner-right-xs">
                    <h3>Function</h3>
                    <p>Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Laceaque quiae sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent accullignis lomnus.</p>
                  </div><!-- /.col -->

                </div><!-- /.row -->
              </div><!-- /.tab-content -->

              <div class="tab-content" id="tab-2">
                <div class="row">

                  <div class="col-md-5 col-md-offset-1 col-sm-6 inner-right-xs">
                    <figure><img src="assets/images/art/product05.jpg" alt=""></figure>
                  </div><!-- /.col -->

                  <div class="col-md-5 col-sm-6 inner-top-xs inner-left-xs">
                    <h3>Simplicity</h3>
                    <p>Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Laceaque quiae sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent accullignis lomnus.</p>
                  </div><!-- /.col -->

                </div><!-- /.row -->
              </div><!-- /.tab-content -->

              <div class="tab-content" id="tab-3">
                <div class="row">

                  <div class="col-md-4 col-md-push-3 col-md-offset-1 col-sm-6 inner-left-xs inner-right-xs">
                    <figure><img src="assets/images/art/product06.jpg" alt=""></figure>
                  </div><!-- /.col -->

                  <div class="col-md-3 col-md-pull-4 col-sm-6 inner-top-xs">
                    <h3>Design</h3>
                    <p>Magnis modipsae lib voloratati andigen daepedor quiate aut labor. Laceaque quiae sitiorem resti est lore tumquam core posae volor uso remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent it accullignis orum lomnus.</p>
                  </div><!-- /.col -->

                  <div class="col-md-3 col-sm-6 inner-top-xs">
                    <h3>User interface</h3>
                    <p>Magnis modipsae lib voloratati andigen daepedor quiate aut labor. Laceaque quiae sitiorem resti est lore tumquam core posae volor uso remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent it accullignis orum lomnus.</p>
                  </div><!-- /.col -->

                </div><!-- /.row -->
              </div><!-- /.tab-content -->

              <div class="tab-content" id="tab-4">

                <div class="row">
                  <div class="col-md-5 col-sm-6 col-xs-8 center-block text-center">
                    <figure><img src="assets/images/art/product03.jpg" alt=""></figure>
                  </div><!-- /.col -->
                </div><!-- /.row -->

                <div class="row">
                  <div class="col-sm-8 center-block text-center inner-top-xs">
                    <h3>Social</h3>
                    <p>Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Laceaque sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent accullignis lomnus.</p>
                  </div><!-- /.col -->
                </div><!-- /.row -->

              </div><!-- /.tab-content -->

              <div class="tab-content" id="tab-5">
                <div class="row">
                  <div class="col-md-8 col-sm-9 center-block text-center">
                    <h3>Community</h3>
                    <p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut reporemni aut labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta oreprerum tibusam emnis et consent accullignis.</p>
                  </div><!-- /.col -->
                </div><!-- /.row -->
              </div><!-- /.tab-content -->

            </div><!-- /.panel-container -->

          </div><!-- /.tabs -->
        </div><!-- /.col -->
      </div><!-- /.row -->

    </div><!-- /.container -->
  </section>

  <!-- ============================================================= SECTION – REASONS : END ============================================================= -->


  <!-- ============================================================= SECTION – GET IN TOUCH ============================================================= -->

  <section id="get-in-touch" class="inner-bottom">
    <div class="container inner light-bg">
      <div class="row">
        <div class="col-md-8 col-sm-9 center-block text-center">
          <header>
            <h1>Want to work with us?</h1>
            <p>Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam.</p>
          </header>
          <a href="contact.html" class="btn btn-large">Get in touch</a>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section>

  <!-- ============================================================= SECTION – GET IN TOUCH : END ============================================================= -->

</main>

<!-- ============================================================= MAIN : END ============================================================= -->


<!-- ============================================================= FOOTER ============================================================= -->

<footer class="dark-bg">
  <div class="container inner">
    <div class="row">

      <div class="col-md-3 col-sm-6 inner">
        <h4>Who we are</h4>
        <a href="index.html"><img class="logo img-intext" src="assets/images/logo-white.svg" alt=""></a>
        <p>Magnis modipsae voloratati andigen daepeditem quiate re porem que aut labor. Laceaque eictemperum quiae sitiorem rest non restibusaes maio es dem tumquam.</p>
        <a href="about.html" class="txt-btn">More about us</a>
      </div><!-- /.col -->

      <div class="col-md-3 col-sm-6 inner">
        <h4>Latest works</h4>

        <div class="row thumbs gap-xs">

          <div class="col-xs-6 thumb">
            <figure class="icon-overlay icn-link">
              <a href="portfolio-post.html"><img src="assets/images/art/work02.jpg" alt=""></a>
            </figure>
          </div><!-- /.thumb -->

          <div class="col-xs-6 thumb">
            <figure class="icon-overlay icn-link">
              <a href="portfolio-post.html"><img src="assets/images/art/work03.jpg" alt=""></a>
            </figure>
          </div><!-- /.thumb -->

          <div class="col-xs-6 thumb">
            <figure class="icon-overlay icn-link">
              <a href="portfolio-post.html"><img src="assets/images/art/work07.jpg" alt=""></a>
            </figure>
          </div><!-- /.thumb -->

          <div class="col-xs-6 thumb">
            <figure class="icon-overlay icn-link">
              <a href="portfolio-post.html"><img src="assets/images/art/work01.jpg" alt=""></a>
            </figure>
          </div><!-- /.thumb -->

        </div><!-- /.row -->
      </div><!-- /.col -->


      <div class="col-md-3 col-sm-6 inner">
        <h4>Get In Touch</h4>
        <p>Doloreiur quia commolu ptatemp dolupta oreprerum tibusam eumenis et consent accullignis dentibea autem inisita.</p>
        <ul class="contacts">
          <li><i class="icon-location contact"></i> 84 Street, City, State 24813</li>
          <li><i class="icon-mobile contact"></i> +00 (123) 456 78 90</li>
          <li><a href="#"><i class="icon-mail-1 contact"></i> info@reen.com</a></li>
        </ul><!-- /.contacts -->
      </div><!-- /.col -->

      <div class="col-md-3 col-sm-6 inner">
        <h4>Free updates</h4>
        <p>Conecus iure posae volor remped modis aut lor volor accabora incim resto explabo.</p>
        <form id="newsletter" class="form-inline newsletter" role="form">
          <label class="sr-only" for="exampleInputEmail">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail" placeholder="Enter your email address">
          <button type="submit" class="btn btn-default btn-submit">Subscribe</button>
        </form>
      </div><!-- /.col -->

    </div><!-- /.row -->
  </div><!-- .container -->

  <div class="footer-bottom">
    <div class="container inner">
      <p class="pull-left">© 2015 REEN. All rights reserved.</p>
      <ul class="footer-menu pull-right">
        <li><a href="index.html">Home</a></li>
        <li><a href="portfolio.html">Portfolio</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="services.html">Services</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul><!-- .footer-menu -->
    </div><!-- .container -->
  </div><!-- .footer-bottom -->
</footer>

<!-- ============================================================= FOOTER : END ============================================================= -->

<!-- JavaScripts placed at the end of the document so the pages load faster -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.easing.1.3.min.js"></script>
<script src="assets/js/jquery.form.js"></script>
<script src="assets/js/jquery.validate.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/bootstrap-hover-dropdown.min.js"></script>
<script src="assets/js/skrollr.min.js"></script>
<script src="assets/js/skrollr.stylesheets.min.js"></script>
<script src="assets/js/waypoints.min.js"></script>
<script src="assets/js/waypoints-sticky.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/jquery.isotope.min.js"></script>
<script src="assets/js/jquery.easytabs.min.js"></script>
<script src="assets/js/google.maps.api.v3.js"></script>
<script src="assets/js/viewport-units-buggyfill.js"></script>
<script src="assets/js/scripts.js"></script>

<!--&lt;!&ndash; For demo purposes – can be removed on production &ndash;&gt;-->
<!--<link href="assets/css/green.css" rel="alternate stylesheet" title="Green color">-->
<!--<link href="assets/css/blue.css" rel="alternate stylesheet" title="Blue color">-->
<!--<link href="assets/css/red.css" rel="alternate stylesheet" title="Red color">-->
<!--<link href="assets/css/pink.css" rel="alternate stylesheet" title="Pink color">-->
<!--<link href="assets/css/purple.css" rel="alternate stylesheet" title="Purple color">-->
<!--<link href="assets/css/orange.css" rel="alternate stylesheet" title="Orange color">-->
<!--<link href="assets/css/navy.css" rel="alternate stylesheet" title="Navy color">-->
<!--<link href="assets/css/gray.css" rel="alternate stylesheet" title="Gray color">-->

<!--<script src="switchstylesheet/switchstylesheet.js"></script>-->

<!--<script>-->
//  $(document).ready(function(){
//    $(".changecolor").switchstylesheet( { seperator:"color"} );
//  });
<!--</script>-->
<!--&lt;!&ndash; For demo purposes – can be removed on production : End &ndash;&gt;-->
</body>
</html>
