<!-- ============================================================= MAIN ============================================================= -->

<main>

  <!-- ============================================================= SECTION – HERO ============================================================= -->

  <section id="hero">
    <div id="owl-main" class="owl-carousel height-md owl-inner-nav owl-ui-lg">

      <div class="item" style="background-image: url(/assets/images/art/slider01.jpg);">
        <div class="container">
          <div class="caption vertical-center text-center">

            <h1 class="fadeInDown-1 light-color">요시! 그란도시즌!</h1>
            <p class="fadeInDown-2 medium-color">Create your online portfolio in minutes with the professionally and lovingly designed REEN website template. Customize your site with versatile and easy to use features.</p>
            <div class="fadeInDown-3">
              <a href="#" class="btn btn-large">Get started now</a>
            </div><!-- /.fadeIn -->

          </div><!-- /.caption -->
        </div><!-- /.container -->
      </div><!-- /.item -->

      <div class="item" style="background-image: url(/assets/images/art/slider02.jpg);">
        <div class="container">
          <div class="caption vertical-center text-right">

            <h1 class="fadeInLeft-1 light-color">Fresh and <br>beautiful design</h1>
            <p class="fadeInLeft-2 light-color">REEN is designed to showcase your talent and put your work in the forefront. <br>Professionally use of typography and layout that fits your content.</p>
            <div class="fadeInLeft-3">
              <a href="#" class="btn btn-large">Get started now</a>
            </div><!-- /.fadeIn -->

          </div><!-- /.caption -->
        </div><!-- /.container -->
      </div><!-- /.item -->

      <div class="item" style="background-image: url(/assets/images/art/slider03.jpg);">
        <div class="container">
          <div class="caption vertical-center text-left">

            <h1 class="fadeInRight-1 dark-bg light-color"><span>Clean and <br>reusable code</span></h1>
            <p class="fadeInRight-2 dark-color">The clean code allows you to easily copy code blocks from content <br>modules and past them in different places or layouts.</p>
            <div class="fadeInRight-3">
              <a href="#" class="btn btn-large">Get started now</a>
            </div><!-- /.fadeIn -->

          </div><!-- /.caption -->
        </div><!-- /.container -->
      </div><!-- /.item -->

      <div class="item" style="background-image: url(/assets/images/art/slider04.jpg);">
        <div class="container">
          <div class="caption vertical-top text-right">

            <h1 class="fadeIn-1 dark-bg light-color"><span>Just focus on <br>your creativity</span></h1>
            <p class="fadeIn-2 light-color">Take a break from messing around with heavy coding and spend <br>your time brainstorming ideas for your next project.</p>
            <div class="fadeIn-3">
              <a href="#" class="btn btn-large">Get started now</a>
            </div><!-- /.fadeIn -->

          </div><!-- /.caption -->
        </div><!-- /.container -->
      </div><!-- /.item -->

      <div class="item" style="background-image: url(/assets/images/art/slider05.jpg);">
        <div class="container">
          <div class="caption vertical-top text-center">

            <h1 class="fadeInDown-1 light-color">Showcase <br>your content</h1>
            <p class="fadeInDown-2 medium-color">With REEN you have the possibility to create websites for various <br>contents quickly and easily. Now it's up to you!</p>
            <div class="fadeInDown-3">
              <a href="#" class="btn btn-large">Get started now</a>
            </div><!-- /.fadeIn -->

          </div><!-- /.caption -->
        </div><!-- /.container -->
      </div><!-- /.item -->

    </div><!-- /.owl-carousel -->
  </section>

  <!-- ============================================================= SECTION – HERO : END ============================================================= -->


  <!-- ============================================================= SECTION – PRODUCT ============================================================= -->

  <section id="product">
    <div class="container inner">

      <div class="row">

        <div class="col-sm-6 inner-right-xs text-right">
          <figure><img src="/assets/images/art/product01.jpg" alt=""></figure>
        </div><!-- /.col -->

        <div class="col-sm-6 inner-top-xs inner-left-xs">
          <h2>Fully flexible user interface</h2>
          <p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut reporemni aut labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta oreprerum tibusam. Eumenis et consent accullignis dentibea autem inisita posae volor conecus resto explabo.</p>
          <a href="#" class="txt-btn">Check out the functions</a>
        </div><!-- /.col -->

      </div><!-- /.row -->

      <div class="row inner-top-md">

        <div class="col-sm-6 col-sm-push-6 inner-left-xs">
          <figure><img src="/assets/images/art/product02.jpg" alt=""></figure>
        </div><!-- /.col -->

        <div class="col-sm-6 col-sm-pull-6 inner-top-xs inner-right-xs">
          <h2>Over 14,000 designs available</h2>
          <p>Magnis modipsae que lib voloratati andigen daepeditem quiate es reporemus aut labor. Laceaque quiae sitiorem rest non restibusaes dem tumquam core posae volor remped modis volor. Doloreiur quia commolu ptatemp dolupta oreprerum tibusam eumenis et consent accullignis lib dentibea autem inisita. Conecus iure posae volor remped modis aut accabora incim resto explabo eictemperum quiae sitiorem.</p>
          <a href="#" class="txt-btn">Visit the showroom</a>
        </div><!-- /.col -->

      </div><!-- /.row -->

      <div class="row inner-top-md">

        <div class="col-sm-6 inner-right-xs text-right">
          <figure><img src="/assets/images/art/product03.jpg" alt=""></figure>
        </div><!-- /.col -->

        <div class="col-sm-6 inner-top-xs inner-left-xs">
          <h2>Social media made even easier</h2>
          <p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut reporemni aut labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta oreprerum tibusam emnis et consent accullignis.</p>
          <a href="#" class="txt-btn">Learn more about it</a>
        </div><!-- /.col -->

      </div><!-- /.row -->

    </div><!-- /.container -->
  </section>

  <!-- ============================================================= SECTION – PRODUCT : END ============================================================= -->


  <!-- ============================================================= SECTION – VISIT OUR STORE ============================================================= -->

  <section id="visit-our-store" class="img-bg img-bg-soft tint-bg" style="background-image: url(/assets/images/art/image-background04.jpg);">
    <div class="container inner">

      <div class="row">
        <div class="col-md-8 col-sm-9">
          <header>
            <h1>Customize your own model</h1>
            <p>Magnis modipsae que voloratati andigen daepeditem quiate conecus aut labore. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam explabo.</p>
          </header>
          <a href="#" class="btn btn-large">Visit our store</a>
        </div><!-- /.col -->
      </div><!-- /.row -->

    </div><!-- /.container -->
  </section>

  <!-- ============================================================= SECTION – VISIT OUR STORE : END ============================================================= -->


  <!-- ============================================================= SECTION – REASONS ============================================================= -->

  <section id="reasons">
    <div class="container inner">

      <div class="row">
        <div class="col-md-8 col-sm-9 center-block text-center">
          <header>
            <h1>5 Reasons <br>why you should use our product</h1>
            <p>Doloreiur quia commolu dolupta oreprerum tibusam.</p>
          </header>
        </div><!-- /.col -->
      </div><!-- /.row -->

      <div class="row inner-top-sm">
        <div class="col-xs-12">
          <div class="tabs tabs-reasons tabs-circle-top tab-container">

            <ul class="etabs text-center">
              <li class="tab"><a href="#tab-1"><div>1</div>Function</a></li>
              <li class="tab"><a href="#tab-2"><div>2</div>Simplicity</a></li>
              <li class="tab"><a href="#tab-3"><div>3</div>Design</a></li>
              <li class="tab"><a href="#tab-4"><div>4</div>Social</a></li>
              <li class="tab"><a href="#tab-5"><div>5</div>Community</a></li>
            </ul><!-- /.etabs -->

            <div class="panel-container">

              <div class="tab-content" id="tab-1">
                <div class="row">

                  <div class="col-md-5 col-md-push-5 col-md-offset-1 col-sm-6 col-sm-push-6 inner-left-xs">
                    <figure><img src="/assets/images/art/product04.jpg" alt=""></figure>
                  </div><!-- /.col -->

                  <div class="col-md-5 col-md-pull-5 col-sm-6 col-sm-pull-6 inner-top-xs inner-right-xs">
                    <h3>Function</h3>
                    <p>Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Laceaque quiae sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent accullignis lomnus.</p>
                  </div><!-- /.col -->

                </div><!-- /.row -->
              </div><!-- /.tab-content -->

              <div class="tab-content" id="tab-2">
                <div class="row">

                  <div class="col-md-5 col-md-offset-1 col-sm-6 inner-right-xs">
                    <figure><img src="/assets/images/art/product05.jpg" alt=""></figure>
                  </div><!-- /.col -->

                  <div class="col-md-5 col-sm-6 inner-top-xs inner-left-xs">
                    <h3>Simplicity</h3>
                    <p>Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Laceaque quiae sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent accullignis lomnus.</p>
                  </div><!-- /.col -->

                </div><!-- /.row -->
              </div><!-- /.tab-content -->

              <div class="tab-content" id="tab-3">
                <div class="row">

                  <div class="col-md-4 col-md-push-3 col-md-offset-1 col-sm-6 inner-left-xs inner-right-xs">
                    <figure><img src="/assets/images/art/product06.jpg" alt=""></figure>
                  </div><!-- /.col -->

                  <div class="col-md-3 col-md-pull-4 col-sm-6 inner-top-xs">
                    <h3>Design</h3>
                    <p>Magnis modipsae lib voloratati andigen daepedor quiate aut labor. Laceaque quiae sitiorem resti est lore tumquam core posae volor uso remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent it accullignis orum lomnus.</p>
                  </div><!-- /.col -->

                  <div class="col-md-3 col-sm-6 inner-top-xs">
                    <h3>User interface</h3>
                    <p>Magnis modipsae lib voloratati andigen daepedor quiate aut labor. Laceaque quiae sitiorem resti est lore tumquam core posae volor uso remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent it accullignis orum lomnus.</p>
                  </div><!-- /.col -->

                </div><!-- /.row -->
              </div><!-- /.tab-content -->

              <div class="tab-content" id="tab-4">

                <div class="row">
                  <div class="col-md-5 col-sm-6 col-xs-8 center-block text-center">
                    <figure><img src="/assets/images/art/product03.jpg" alt=""></figure>
                  </div><!-- /.col -->
                </div><!-- /.row -->

                <div class="row">
                  <div class="col-sm-8 center-block text-center inner-top-xs">
                    <h3>Social</h3>
                    <p>Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Laceaque sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent accullignis lomnus.</p>
                  </div><!-- /.col -->
                </div><!-- /.row -->

              </div><!-- /.tab-content -->

              <div class="tab-content" id="tab-5">
                <div class="row">
                  <div class="col-md-8 col-sm-9 center-block text-center">
                    <h3>Community</h3>
                    <p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut reporemni aut labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta oreprerum tibusam emnis et consent accullignis.</p>
                  </div><!-- /.col -->
                </div><!-- /.row -->
              </div><!-- /.tab-content -->

            </div><!-- /.panel-container -->

          </div><!-- /.tabs -->
        </div><!-- /.col -->
      </div><!-- /.row -->

    </div><!-- /.container -->
  </section>

  <!-- ============================================================= SECTION – REASONS : END ============================================================= -->


  <!-- ============================================================= SECTION – GET IN TOUCH ============================================================= -->

  <section id="get-in-touch" class="inner-bottom">
    <div class="container inner light-bg">
      <div class="row">
        <div class="col-md-8 col-sm-9 center-block text-center">
          <header>
            <h1>Want to work with us?</h1>
            <p>Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam.</p>
          </header>
          <a href="contact.html" class="btn btn-large">Get in touch</a>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section>

  <!-- ============================================================= SECTION – GET IN TOUCH : END ============================================================= -->

</main>

<!-- ============================================================= MAIN : END ============================================================= -->


<!-- ============================================================= FOOTER ============================================================= -->

<footer class="dark-bg">
  <div class="container inner">
    <div class="row">

      <div class="col-md-3 col-sm-6 inner">
        <h4>Who we are</h4>
        <a href="index.html"><img class="logo img-intext" src="/assets/images/logo-white.svg" alt=""></a>
        <p>Magnis modipsae voloratati andigen daepeditem quiate re porem que aut labor. Laceaque eictemperum quiae sitiorem rest non restibusaes maio es dem tumquam.</p>
        <a href="about.html" class="txt-btn">More about us</a>
      </div><!-- /.col -->

      <div class="col-md-3 col-sm-6 inner">
        <h4>Latest works</h4>

        <div class="row thumbs gap-xs">

          <div class="col-xs-6 thumb">
            <figure class="icon-overlay icn-link">
              <a href="portfolio-post.html"><img src="/assets/images/art/work02.jpg" alt=""></a>
            </figure>
          </div><!-- /.thumb -->

          <div class="col-xs-6 thumb">
            <figure class="icon-overlay icn-link">
              <a href="portfolio-post.html"><img src="/assets/images/art/work03.jpg" alt=""></a>
            </figure>
          </div><!-- /.thumb -->

          <div class="col-xs-6 thumb">
            <figure class="icon-overlay icn-link">
              <a href="portfolio-post.html"><img src="/assets/images/art/work07.jpg" alt=""></a>
            </figure>
          </div><!-- /.thumb -->

          <div class="col-xs-6 thumb">
            <figure class="icon-overlay icn-link">
              <a href="portfolio-post.html"><img src="/assets/images/art/work01.jpg" alt=""></a>
            </figure>
          </div><!-- /.thumb -->

        </div><!-- /.row -->
      </div><!-- /.col -->


      <div class="col-md-3 col-sm-6 inner">
        <h4>Get In Touch</h4>
        <p>Doloreiur quia commolu ptatemp dolupta oreprerum tibusam eumenis et consent accullignis dentibea autem inisita.</p>
        <ul class="contacts">
          <li><i class="icon-location contact"></i> 84 Street, City, State 24813</li>
          <li><i class="icon-mobile contact"></i> +00 (123) 456 78 90</li>
          <li><a href="#"><i class="icon-mail-1 contact"></i> info@reen.com</a></li>
        </ul><!-- /.contacts -->
      </div><!-- /.col -->

      <div class="col-md-3 col-sm-6 inner">
        <h4>Free updates</h4>
        <p>Conecus iure posae volor remped modis aut lor volor accabora incim resto explabo.</p>
        <form id="newsletter" class="form-inline newsletter" role="form">
          <label class="sr-only" for="exampleInputEmail">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail" placeholder="Enter your email address">
          <button type="submit" class="btn btn-default btn-submit">Subscribe</button>
        </form>
      </div><!-- /.col -->

    </div><!-- /.row -->
  </div><!-- .container -->

  <div class="footer-bottom">
    <div class="container inner">
      <p class="pull-left">© 2015 REEN. All rights reserved.</p>
      <ul class="footer-menu pull-right">
        <li><a href="index.html">Home</a></li>
        <li><a href="portfolio.html">Portfolio</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="services.html">Services</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul><!-- .footer-menu -->
    </div><!-- .container -->
  </div><!-- .footer-bottom -->
</footer>

<!-- ============================================================= FOOTER : END ============================================================= -->
