<!-- ============================================================= MAIN ============================================================= -->

<main>

  <!-- ============================================================= SECTION – HERO ============================================================= -->

  <section id="hero">
    <div id="owl-main" class="owl-carousel height-md owl-inner-nav owl-ui-lg">

      <div class="item" style="background-image: url(/assets/images/art/home_home.png);">
        <div class="container">
          <div class="caption vertical-center text-center">

            <h2 class="fadeInDown-1 light-color">기획부터 구현까지 0과 1로 만들어가는 세상,</h2><h1 class="fadeInDown-1 light-color">하나와영</h1>
            <p class="fadeInLeft-2 light-color">OAZ, 그것은 코딩과 자료구조, 해킹을 섭렵하고 있는 집단지성이라는 뜻입니다.<br>열정만 가지고 오세요. OAZ와 함께라면 당신도 할 수 있습니다.</p>
            <div class="fadeInDown-3">
              <a href="#" class="btn btn-large">확인하러 가기</a>
            </div><!-- /.fadeIn -->

          </div><!-- /.caption -->
        </div><!-- /.container -->
      </div><!-- /.item -->

      <div class="item" style="background-image: url(/assets/images/art/home_1_opactiy40.png);">
        <div class="container">
          <div class="caption vertical-center text-right">

            <h1 class="fadeInLeft-1 light-color">매주 학회원들이 진행하는<br>생산적인 세미나 수업</h1>
            <p class="fadeInLeft-2 light-color">저희 학회는 매주 JAVA, C, PHP, Git 등의 language와 협업 툴을 다루고 있습니다.<br>아무것도 모른다구요? 바로 당신이 적격입니다.</p>
            <div class="fadeInLeft-3">
              <a href="#" class="btn btn-large">확인하러 가기</a>
            </div><!-- /.fadeIn -->

          </div><!-- /.caption -->
        </div><!-- /.container -->
      </div><!-- /.item -->

      <div class="item" style="background-image: url(/assets/images/art/exhibit.png);">
        <div class="container">
          <div class="caption vertical-center text-left">

            <h1 class="fadeInRight-1 dark-bg light-color"><span>매년 진행되는 <br>다양한 프로젝트 전시회</span></h1>
            <p class="fadeInLeft-2 light-color">소프트웨어에 관심이 많으시다구요? <br>지금 오셔서 프로젝트 성과물을 확인하세요!</p>
            <div class="fadeInRight-3">
              <a href="#" class="btn btn-large">확인하러 가기</a>
            </div><!-- /.fadeIn -->

          </div><!-- /.caption -->
        </div><!-- /.container -->
      </div><!-- /.item -->

      <div class="item" style="background-image: url(/assets/images/art/Home_MT.png);">
        <div class="container">
          <div class="caption vertical-top text-right">

            <h1 class="fadeIn-1 dark-bg light-color"><span>즐거운 엠티,<br>Wanna join?</span></h1>
            <p class="fadeIn-2 light-color">코딩만 하는 노잼 학회 Nono! 엠티도 갑니다.<br>머리도 식힐 겸 강릉이나 함께 가볼까요?</p>
            <div class="fadeIn-3">
              <a href="#" class="btn btn-large">확인하러 가기</a>
            </div><!-- /.fadeIn -->

          </div><!-- /.caption -->
        </div><!-- /.container -->
      </div><!-- /.item -->

      <div class="item" style="background-image: url(assets/images/art/home_project.png);">
                        <div class="container">
                            <div class="caption vertical-top text-center">
                                
                                <h1 class="fadeInDown-1 light-color">하나와영 Web Team <br>프로젝트를 확인하세요!</h1>
                                <p class="fadeInLeft-2 light-color">학회의 새 웹 페이지를 제작했습니다.<br>이 페이지의 반응형 템플릿과 협업 과정에 대해 더 알고 싶으시다면 클릭!</p>
                                <div class="fadeInDown-3">
                                    <a href="#" class="btn btn-large">확인하러 가기</a>
                                </div><!-- /.fadeIn -->
                                
                            </div><!-- /.caption -->
                        </div><!-- /.container -->
                    </div><!-- /.item -->
                    
    </div><!-- /.owl-carousel -->
  </section>

  <!-- ============================================================= SECTION – HERO : END ============================================================= -->


  <!-- ============================================================= SECTION – PRODUCT ============================================================= -->


  <!-- ============================================================= SECTION – GET IN TOUCH : END ============================================================= -->

</main>

<!-- ============================================================= MAIN : END ============================================================= -->

