<!-- ============================================================= MAIN ============================================================= -->

<main>

  <!-- ============================================================= SECTION – HERO ============================================================= -->

  <section id="hero">
    <div id="owl-main" class="owl-carousel height-md owl-inner-nav owl-ui-lg">

      <div class="item" style="background-image: url(/assets/images/art/home_home.png);">
        <div class="container">
          <div class="caption vertical-center text-center">

            <h2 class="fadeInDown-1 light-color">기획부터 구현까지 0과 1로 만들어가는 세상,</h2><h1 class="fadeInDown-1 light-color">하나와영</h1>
            <p class="fadeInLeft-2 light-color">OAZ, 그것은 코딩과 자료구조, 해킹을 섭렵하고 있는 집단지성이라는 뜻입니다.</p>
            <p class="fadeInLeft-2 light-color">열정만 가지고 오세요. OAZ와 함께라면 당신도 할 수 있습니다.</p>

          </div><!-- /.caption -->
        </div><!-- /.container -->
      </div><!-- /.item -->

      <div class="item" style="background-image: url(/assets/images/art/home_1_opactiy40.png);">
        <div class="container">
          <div class="caption vertical-center text-right">

            <h1 class="fadeInLeft-1 light-color">매주 학회원들이 진행하는</h1>
            <h1 class="fadeInLeft-1 light-color">생산적인 세미나 수업</h1>
            
            <p class="fadeInLeft-2 light-color">하나와영은 JAVA, C 외 다양한 language와 협업 툴을 다룹니다.</p><p class="fadeInLeft-2 light-color">아무것도 모른다구요? 바로 당신이 적격입니다.</p>


          </div><!-- /.caption -->
        </div><!-- /.container -->
      </div><!-- /.item -->

      <div class="item" style="background-image: url(/assets/images/art/exhibit.png);">
        <div class="container">
          <div class="caption vertical-center text-right">

            <h1 class="fadeInRight-1 dark-bg light-color"><span>매년 진행되는</span></h1>
            <h1 class="fadeInRight-1 dark-bg light-color"><span>다양한 프로젝트 전시회</span></h1>
            <p class="fadeInLeft-2 dark-bg light-color">소프트웨어에 관심이 많으시다구요?</p>
            <p class="fadeInLeft-2 dark-bg light-color">지금 오셔서 프로젝트 성과물을 확인하세요!</p>
            <div class="fadeInRight-3">
              <a href="#" class="btn btn-large btn-blue">확인하러 가기</a>
            </div><!-- /.fadeIn -->

          </div><!-- /.caption -->
        </div><!-- /.container -->
      </div><!-- /.item -->

      <div class="item" style="background-image: url(/assets/images/art/Home_MT.png);">
        <div class="container">
          <div class="caption vertical-center text-right">

            <h1 class="fadeInRight-1 light-color"><span>즐거운 엠티,</span></h1>
            <h1 class="fadeInRight-1 light-color"><span>Wanna join?</span></h1>
            <p class="fadeInLeft-2 dark-bg light-color">코딩만 하는 노잼 학회 Nono! 엠티도 갑니다.</p>
            <p class="fadeInLeft-2 dark-bg light-color">머리도 식힐 겸 강릉이나 함께 가볼까요?</p>


          </div><!-- /.caption -->
        </div><!-- /.container -->
      </div><!-- /.item -->


      
      <div class="item" style="background-image: url(assets/images/art/home_project.png);">
                        <div class="container">
                            <div class="caption vertical-center text-center">
                                
                                <h1 class="fadeInDown-1 light-color">하나와영 Web Team</p> 
                                
                                <h1 class="fadeInDown-1 light-color">프로젝트를 확인하세요!</h1>
                                <p class="fadeInLeft-2 light-color">학회의 새 웹 페이지를 제작했습니다.</p>
                                <p class="fadeInLeft-2 light-color">이 페이지의 반응형 템플릿과 협업 과정에 대해 더 알고 싶으시다면 클릭!</p>
                                <div class="fadeInDown-3">
                                    <a href="#" class="btn btn-large btn-blue">확인하러 가기</a>
                                </div><!-- /.fadeIn -->
                                
                            </div><!-- /.caption -->
                        </div><!-- /.container -->
                    </div><!-- /.item -->
                    
    </div><!-- /.owl-carousel -->
  </section>

  <!-- ============================================================= SECTION – HERO : END ============================================================= -->


  <!-- ============================================================= SECTION – WHO WE ARE ============================================================= -->

  <section id="who-we-are">
    <div class="container inner-top inner-bottom-sm">

      <div class="row">
        <div class="col-md-8 col-sm-9 center-block text-center">
          <header>
            <h1>하나. 그리고 영. </h1><h1>소프트웨어.</h1>
            <p class="text-normal">하나와영은 소프트웨어 엔지니어를 지향하는</p>
            <p class="text-normal">고려대학교 소프트웨어 학회입니다.</p>
          </header>
        </div><!-- /.col -->
      </div><!-- /.row -->

      <div class="row inner-top-sm">

        <div class="col-md-1">
          <div class="icon pull-right">
            <i class="icon-heart-empty-1 icn"></i>
          </div><!-- /.icon -->
        </div><!-- /.col -->

        <div class="col-md-3 inner-bottom-xs text-small">
          <h2>열정</h2>
          <p>
            '모든 학회원이 특정 분야에 열정을 가지고 스스로 공부하고 개발하는 것'이 저희 학회의 비전입니다.</p>
            <p>열정이 죽은 젊은이여! 그대는 살아있으나 죽은 것입니다. 열정이 있다면 컨텐츠는 저희가 채워 드립니다.
          </p>
        </div><!-- /.col -->
        


        <div class="col-md-1">
          <div class="icon pull-right">
            <i class="icon-lamp icn"></i>
          </div><!-- /.icon -->
        </div><!-- /.col -->

        <div class="col-md-3 inner-bottom-xs text-small">
          <h2>창의력</h2>
          <p>
          창의력은 이 시대에 필수불가결한 능력이며 우리의 원동력이기도 합니다.</p>
          <p>소프트웨어는 우리가 상상한 것을 현실화하는 기술입니다. 따라서 원대한 상상은 원대한 프로젝트와 결과물을 낳는 것입니다.</p>
          
          </p>
        </div><!-- /.col -->

        <div class="col-md-1">
          <div class="icon pull-right">
            <i class="icon-star-empty-1 icn"></i>
          </div><!-- /.icon -->
        </div><!-- /.col -->

        <div class="col-md-3 inner-bottom-xs text-small">
          <h2>전문성</h2>
          <p>
          열정과 창의력이 넘쳐나지만 그것을 어떻게 구체화할지 모르겠다구요? 괜찮아요. 배우면 되죠! </p>
          <p>우리는 당신의 아이디어와 에너지를 실현할 많은 툴과 언어를 다룹니다. 
          열정만 가지고 오세요. 나머지는 채워드립니다.</p>
          </p>
        </div><!-- /.col -->

      </div><!-- /.row -->

    </div><!-- /.container -->
  </section>

  <!-- ============================================================= SECTION – WHO WE ARE : END ============================================================= -->


  <!-- ============================================================= SECTION – LATEST WORKS ============================================================= -->

  <section id="latest-works" class="light-bg">
    <div class="container inner">

      <div class="row">
        <div class="col-md-8 col-sm-9 center-block text-center">
          <header>
            <h1>최근 진행된 프로젝트</h1>
            <p>하나와영에서 진행한 최근 프로젝트들을 만나보세요!</p>
          </header>
        </div><!-- /.col -->
      </div><!-- /.row -->

      <div class="row">

        <div class="col-sm-6 inner-top-sm">
          <figure>

            <div class="icon-overlay icn-link">
              <a href="portfolio-post.html"><img src="assets/images/art/work02.jpg" alt=""></a>
            </div><!-- /.icon-overlay -->

            <figcaption class="bordered no-top-border">
              <div class="info">
                <h3><a href="portfolio-post.html">Grand Motel gets an identity brushup</a></h3>
                <p>Identity</p>
              </div><!-- /.info -->
            </figcaption>

          </figure>
        </div><!-- /.col -->

        <div class="col-sm-6 inner-top-sm">
          <figure>

            <div class="icon-overlay icn-link">
              <a href="portfolio-post.html"><img src="assets/images/art/work08.jpg" alt=""></a>
            </div><!-- /.icon-overlay -->

            <figcaption class="bordered no-top-border">
              <div class="info">
                <h3><a href="portfolio-post.html">Fresh branding for a creative startup</a></h3>
                <p>Identity</p>
              </div><!-- /.info -->
            </figcaption>

          </figure>
        </div><!-- /.col -->

      </div><!-- /.row -->

      <div class="row inner-top-sm">
        <div id="owl-latest-works" class="owl-carousel owl-item-gap">

          <div class="item">
            <a href="portfolio-post.html">
              <figure>
                <figcaption class="text-overlay">
                  <div class="info">
                    <h4>Vintage Bicycles</h4>
                    <p>Interactive</p>
                  </div><!-- /.info -->
                </figcaption>
                <img src="assets/images/art/work03.jpg" alt="">
              </figure>
            </a>
          </div><!-- /.item -->

          <div class="item">
            <a href="portfolio-post.html">
              <figure>
                <figcaption class="text-overlay">
                  <div class="info">
                    <h4>Simpli Nota</h4>
                    <p>Identity</p>
                  </div><!-- /.info -->
                </figcaption>
                <img src="assets/images/art/work04.jpg" alt="">
              </figure>
            </a>
          </div><!-- /.item -->

          <div class="item">
            <a href="portfolio-post.html">
              <figure>
                <figcaption class="text-overlay">
                  <div class="info">
                    <h4>Vinyl Records</h4>
                    <p>Identity</p>
                  </div><!-- /.info -->
                </figcaption>
                <img src="assets/images/art/work07.jpg" alt="">
              </figure>
            </a>
          </div><!-- /.item -->

          <div class="item">
            <a href="portfolio-post.html">
              <figure>
                <figcaption class="text-overlay">
                  <div class="info">
                    <h4>Astor & Yancy</h4>
                    <p>Identity</p>
                  </div><!-- /.info -->
                </figcaption>
                <img src="assets/images/art/work09.jpg" alt="">
              </figure>
            </a>
          </div><!-- /.item -->

          <div class="item">
            <a href="portfolio-post.html">
              <figure>
                <figcaption class="text-overlay">
                  <div class="info">
                    <h4>Signwall</h4>
                    <p>Identity</p>
                  </div><!-- /.info -->
                </figcaption>
                <img src="assets/images/art/work16.jpg" alt="">
              </figure>
            </a>
          </div><!-- /.item -->

          <div class="item">
            <a href="portfolio-post.html">
              <figure>
                <figcaption class="text-overlay">
                  <div class="info">
                    <h4>Tri Fold Brochure</h4>
                    <p>Print</p>
                  </div><!-- /.info -->
                </figcaption>
                <img src="assets/images/art/work10.jpg" alt="">
              </figure>
            </a>
          </div><!-- /.item -->

          <div class="item">
            <a href="portfolio-post.html">
              <figure>
                <figcaption class="text-overlay">
                  <div class="info">
                    <h4>Embroidered</h4>
                    <p>Identity</p>
                  </div><!-- /.info -->
                </figcaption>
                <img src="assets/images/art/work05a.jpg" alt="">
              </figure>
            </a>
          </div><!-- /.item -->

          <div class="item">
            <a href="portfolio-post.html">
              <figure>
                <figcaption class="text-overlay">
                  <div class="info">
                    <h4>El Corcho</h4>
                    <p>Identity</p>
                  </div><!-- /.info -->
                </figcaption>
                <img src="assets/images/art/work12.jpg" alt="">
              </figure>
            </a>
          </div><!-- /.item -->

        </div><!-- /.owl-carousel -->
      </div><!-- /.row -->

    </div><!-- /.container -->
  </section>

  <!-- ============================================================= SECTION – LATEST WORKS : END ============================================================= -->


  <!-- ============================================================= SECTION – GET IN TOUCH ============================================================= -->

  <section id="get-in-touch">
    <div class="container inner">
      <div class="row">
        <div class="col-md-8 col-sm-9 center-block text-center">
          <header>
            <h1>Want to work with us?</h1>
            <p>하나와영과 함께할 신입 학회원을 모집하고 있습니다.</p>
            <p>우리와 비전을 공유하고 싶으시다면,</p>
          </header>
          <a href="/pages/recruit" class="btn btn-large btn-blue">지원하기</a>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section>

  <!-- ============================================================= SECTION – GET IN TOUCH : END ============================================================= -->

</main>

<!-- ============================================================= MAIN : END ============================================================= -->

