		<main>
			
			<!-- ============================================================= SECTION – PRICING TABLES ============================================================= -->
			
			<section id="pricing-tables">
				<div class="container inner">
					
					<div class="row">
						<div class="col-md-8 col-sm-9 center-block text-center">
							<header>
								<h1>Simple pricing, no surprises</h1>
								<p>Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam.</p>
							</header>
						</div><!-- /.col -->
					</div><!-- /.row -->
					
					<div class="row pricing col-4">
						
						<div class="col-lg-3 col-sm-6 inner-top-sm">
							<div class="plan">
								
								<header>
									<h2>Free</h2>
									
									<div class="price">
										<span class="currency">$</span>
										<span class="amount">0</span>
										<span class="period">/ Mo</span>
									</div><!-- /.price -->
									
									<a href="#" class="btn">Change to this plan</a>
								</header>
								
								<ul class="features">
									<li><i class="icon-window"></i> 5 Pages</li>
									<li><i class="icon-hdd"></i> 1 GB Storage</li>
									<li><i class="icon-switch"></i> 10 GB Bandwidth</li>
									<li><i class="icon-globe"></i> Custom Domain</li>
									<li><i class="icon-users"></i> 24/7 Support</li>
								</ul><!-- /.features -->
								
							</div><!-- /.plan -->
						</div><!-- /.col -->
						
						<div class="col-lg-3 col-sm-6 inner-top-sm">
							<div class="plan">
								
								<header>
									<h2>Personal</h2>
									
									<div class="price">
										<span class="currency">$</span>
										<span class="amount">9</span>
										<span class="period">/ Mo</span>
									</div><!-- /.price -->
									
									<a href="#" class="btn">Change to this plan</a>
								</header>
								
								<ul class="features">
									<li><i class="icon-window"></i> 20 Pages</li>
									<li><i class="icon-hdd"></i> 10 GB Storage</li>
									<li><i class="icon-switch"></i> 500 GB Bandwidth</li>
									<li><i class="icon-globe"></i> Custom Domain</li>
									<li><i class="icon-users"></i> 24/7 Support</li>
								</ul><!-- /.features -->
								
							</div><!-- /.plan -->
						</div><!-- /.col -->
						
						<div class="col-lg-3 col-sm-6 inner-top-sm">
							<div class="plan">
								
								<header>
									<h2>Professional</h2>
									
									<div class="price">
										<span class="currency">$</span>
										<span class="amount">14</span>
										<span class="period">/ Mo</span>
									</div><!-- /.price -->
									
									<a href="#" class="btn">Change to this plan</a>
								</header>
								
								<ul class="features">
									<li><i class="icon-window"></i> 100 Pages</li>
									<li><i class="icon-hdd"></i> 100 GB Storage</li>
									<li><i class="icon-switch"></i> 2 TB Bandwidth</li>
									<li><i class="icon-globe"></i> Custom Domain</li>
									<li><i class="icon-users"></i> 24/7 Support</li>
								</ul><!-- /.features -->
								
							</div><!-- /.plan -->
						</div><!-- /.col -->
						
						<div class="col-lg-3 col-sm-6 inner-top-sm">
							<div class="plan">
								
								<header>
									<h2>Business</h2>
									
									<div class="price">
										<span class="currency">$</span>
										<span class="amount">23</span>
										<span class="period">/ Mo</span>
									</div><!-- /.price -->
									
									<a href="#" class="btn">Change to this plan</a>
								</header>
								
								<ul class="features">
									<li><i class="icon-window"></i> Unlimited Pages</li>
									<li><i class="icon-hdd"></i> Unlimited Storage</li>
									<li><i class="icon-switch"></i> Unlimited Bandwidth</li>
									<li><i class="icon-globe"></i> Custom Domain</li>
									<li><i class="icon-users"></i> 24/7 Support</li>
								</ul><!-- /.features -->
								
							</div><!-- /.plan -->
						</div><!-- /.col -->
						
					</div><!-- /.row -->
					
				</div><!-- /.container -->
			</section>
			
			<!-- ============================================================= SECTION – PRICING TABLES : END ============================================================= -->
			
			
			<!-- ============================================================= SECTION – FAQ ============================================================= -->
			
			<section id="faq" class="light-bg">
				<div class="container inner">
					
					<div class="row">
						<div class="col-md-8 col-sm-9 center-block text-center">
							<header>
								<h1>Questions?</h1>
								<p>Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam.</p>
							</header>
						</div><!-- /.col -->
					</div><!-- /.row -->
					
					<div class="row">
					
						<div class="col-sm-6 inner-right-sm inner-top-sm">
							
							<h3>How long are the contracts?</h3>
							<p>Conecus iure posae volor remped modis aut accabora incim resto explabo eictemperum quiae sitiorem volor remped modis volor.</p>
							
							<h3>Can i switch plans later?</h3>
							<p>Conecus iure posae volor remped modis aut accabora incim resto explabo eictemperum quiae sitiorem volor remped modis volor.</p>
							
							<h3>What support options do i have?</h3>
							<p>Conecus iure posae volor remped modis aut accabora incim resto explabo eictemperum quiae sitiorem volor remped modis volor.</p>
							
						</div><!-- /.col -->
					
						<div class="col-sm-6 inner-left-sm inner-top-sm">
							
							<h3>Is there a setup fee?</h3>
							<p>Conecus iure posae volor remped modis aut accabora incim resto explabo eictemperum quiae sitiorem volor remped modis volor.</p>
							
							<h3>What types of payment methods are accepted?</h3>
							<p>Conecus iure posae volor remped modis aut accabora incim resto explabo eictemperum quiae sitiorem volor remped modis volor.</p>
							
							<h3>Can i cancel my account at any time?</h3>
							<p>Conecus iure posae volor remped modis aut accabora incim resto explabo eictemperum quiae sitiorem volor remped modis volor.</p>
							
						</div><!-- /.col -->
						
					</div><!-- /.row -->
					
				</div><!-- /.container -->
			</section>
			
			<!-- ============================================================= SECTION – FAQ : END ============================================================= -->
			
		</main>
		
		<!-- ============================================================= MAIN : END ============================================================= -->
		
		
