		<!-- ============================================================= MAIN ============================================================= -->
		
		<main>
			
			<!-- ============================================================= SECTION – MODAL ============================================================= -->
			
			<section id="modal">
				<div class="container inner">
					
					<div class="row">
						<div class="col-md-8 col-sm-9 center-block text-center">
							<header>
								<h1>Modal</h1>
								<p>Drop any kind of content into a fully flexible and responsive modal! <br>Useful for One Page sites and notifications. Available in five sizes.</p>
							</header>
						</div><!-- /.col -->
					</div><!-- ./row -->
					
					<div class="row">
						
						<div class="col-sm-4 inner-top">
							<h3>Fullscreen</h3>
							<figure>
								<div class="icon-overlay icn-link">
									<a href="#modal-work01" data-toggle="modal"><img src="assets/images/art/work08.jpg" alt=""></a>
								</div>
							</figure>
						</div><!-- /.col -->
						
						<div class="col-sm-4 inner-top">
							<h3>Large</h3>
							<figure>
								<div class="icon-overlay icn-link">
									<a href="#modal-work02" data-toggle="modal"><img src="assets/images/art/work02.jpg" alt=""></a>
								</div>
							</figure>
						</div><!-- /.col -->
						
						<div class="col-sm-4 inner-top">
							<h3>Medium</h3>
							<figure>
								<div class="icon-overlay icn-link">
									<a href="#modal-work03" data-toggle="modal"><img src="assets/images/art/work09.jpg" alt=""></a>
								</div>
							</figure>
						</div><!-- /.col -->
						
					</div><!-- /.row -->
					
					<div class="row">
						
						<div class="col-sm-6 inner-top">
							<h3>Small</h3>
							<button type="button" class="btn btn-large btn-block btn-modal" data-toggle="modal" href="#modal-contact01">Open modal</button>
						</div><!-- /.col -->
						
						<div class="col-sm-6 inner-top">
							<h3>Extra Small</h3>
							<button type="button" class="btn btn-large btn-block btn-modal" data-toggle="modal" href="#modal-notification01">Open modal</button>
						</div><!-- /.col -->
						
					</div><!-- /.row -->
					
				</div><!-- /.container -->
			</section>
			
			<!-- ============================================================= SECTION – MODAL : END ============================================================= -->
			
			
			<!-- ============================================================= SECTION – BUY TEMPLATE ============================================================= -->
			
			<section id="buy-template" class="tint-bg">
				<div class="container inner-sm">
					<div class="row">
						<div class="col-sm-10 center-block text-center">
							<h1 class="single-block">Think you can use this? <a href="https://wrapbootstrap.com/theme/reen-made-for-designers-portfolio-WB00PN23G" target="_blank" class="btn btn-large">Buy Template</a></h1>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.container -->
			</section>
			
			<!-- ============================================================= SECTION – BUY TEMPLATE : END ============================================================= -->
			
			
			<!-- ============================================================= MODALS ============================================================= -->
			
			
			<!-- ============================================================= MODAL WORK01 ============================================================= -->
			
			<div class="modal fade" id="modal-work01" tabindex="-1" role="dialog" aria-labelledby="modal-work01" aria-hidden="true">
				<div class="modal-dialog modal-full">
					<div class="modal-content dark-bg img-bg img-bg-softer no-modal-header no-modal-footer" style="background-image: url(assets/images/art/work14-lg.jpg);">
						
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="icon-cancel-1"></i></span></button>
							<h4 class="modal-title" id="modal-work01">Fullscreen modal</h4>
						</div><!-- /.modal-header -->
						
						<!-- ============================================================= MODAL CONTENT ============================================================= -->
						
						<div class="modal-body">
							
							<!-- ============================================================= SECTION – PORTFOLIO POST ============================================================= -->
							
							<section id="portfolio-post">
								
								<div class="img-bg height-sm" style="background-image: url(assets/images/art/slider06.jpg);"></div>
								
								<div class="container inner">
									
									<div class="row">
										<div class="col-sm-9 center-block text-center">
											<header>
												<h1>Fresh branding for a creative startup</h1>
												<p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut reporemni laborate. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis doloreiur qui commolu patemp dolupta oreprerum et conecus iure posae sinum.</p>
											</header>
										</div><!-- /.col -->
									</div><!-- ./row -->
									
									<div class="row inner-top-xs">
										<div class="col-sm-10 col-xs-11 center-block text-center inner-top-xs border-top">
											<ul class="item-details">
												<li class="date">May 23, 2015</li>
												<li class="categories">Identity, Interactive, Print</li>
												<li class="client">Creative Startup</li>
												<li class="url"><a href="http://demo.fuviz.com/reen">demo.fuviz.com/reen</a></li>
											</ul><!-- /.item-details -->
										</div><!-- /.col -->
									</div><!-- /.row -->
									
									<div class="row inner-top-sm">
										
										<div class="col-sm-6 inner-top-xs">
											<figure>
												<img src="assets/images/art/work08e.jpg" alt="">
											</figure>
										</div><!-- /.col -->
										
										<div class="col-sm-6 inner-top-xs">
											<figure>
												<img src="assets/images/art/work08f.jpg" alt="">
											</figure>
										</div><!-- /.col -->
										
									</div><!-- /.row -->
									
									<div class="row">
										<div class="col-sm-12 inner-top-xs">
											<figure>
												<img class="border" src="assets/images/art/work08a-lg.jpg" alt="">
											</figure>
										</div><!-- /.col -->
									</div><!-- /.row -->
									
									<div class="row">
										<div class="col-md-8 col-sm-9 inner-top center-block text-center">
											<h2>Designed with love</h2>
											<p>Soloreiur qui commolu ptatemp dolupta oreprerum tibusam emnis et consent accullignis novum. Laceaque quiae sitiorem rest non restibusaes es tumquam core explabo eictemperum sitiorem posae voloris remped modis doloreiur qui commolu dolupta oreprerum et consent.</p>
										</div><!-- /.col -->
									</div><!-- ./row -->
									
									<div class="row inner-top-sm">
										
										<div class="col-sm-6 inner-top-xs">
											<figure>
												<img src="assets/images/art/work08b.jpg" alt="">
											</figure>
										</div><!-- /.col -->
										
										<div class="col-sm-6 inner-top-xs">
											<figure>
												<img src="assets/images/art/work08d.jpg" alt="">
											</figure>
										</div><!-- /.col -->
										
									</div><!-- /.row -->
									
									<div class="row">
										<div class="col-md-8 col-sm-9 inner-top center-block text-center">
											<h2>Clean, beautiful and unique</h2>
											<p>Soloreiur qui commolu ptatemp dolupta oreprerum tibusam emnis et consent accullignis novum. Laceaque quiae sitiorem rest non restibusaes es tumquam core explabo eictemperum sitiorem posae voloris remped modis doloreiur qui commolu dolupta oreprerum et consent.</p>
										</div><!-- /.col -->
									</div><!-- ./row -->
									
								</div><!-- /.container -->
								
							</section>
							
							<!-- ============================================================= SECTION – PORTFOLIO POST : END ============================================================= -->
							
							
							<!-- ============================================================= SECTION – SHARE ============================================================= -->
							
							<section id="share" class="light-bg">
								<div class="container">
									
									<div class="col-sm-4 reset-padding">
										<a href="#" class="btn-share-md">
											<p class="name">Facebook</p>
											<i class="icon-s-facebook"></i>
											<p class="counter">1080</p>
										</a>
									</div><!-- /.col -->
									
									<div class="col-sm-4 reset-padding">
										<a href="#" class="btn-share-md">
											<p class="name">Twitter</p>
											<i class="icon-s-twitter"></i>
											<p class="counter">1263</p>
										</a>
									</div><!-- /.col -->
									
									<div class="col-sm-4 reset-padding">
										<a href="#" class="btn-share-md">
											<p class="name">Google +</p>
											<i class="icon-s-gplus"></i>
											<p class="counter">963</p>
										</a>
									</div><!-- /.col -->
									
								</div><!-- /.container -->
							</section>
							
							<!-- ============================================================= SECTION – SHARE : END ============================================================= -->
							
						</div><!-- /.modal-body -->
						
						<!-- ============================================================= MODAL CONTENT : END ============================================================= -->
						
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div><!-- /.modal-footer -->
						
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			
			<!-- ============================================================= MODAL WORK01 : END ============================================================= -->
			
			
			<!-- ============================================================= MODAL WORK02 ============================================================= -->
			
			<div class="modal fade" id="modal-work02" tabindex="-1" role="dialog" aria-labelledby="modal-work02" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="icon-cancel-1"></i></span></button>
							<h4 class="modal-title" id="modal-work02">Large modal</h4>
						</div><!-- /.modal-header -->
						
						<!-- ============================================================= MODAL CONTENT ============================================================= -->
						
						<div class="modal-body">
							
							<!-- ============================================================= SECTION – PORTFOLIO POST ============================================================= -->
							
							<section id="portfolio-post">
								<div class="container inner-top-xs inner-bottom">
									
									<div class="row">
										<div class="col-sm-12">
											<div id="owl-work-modal02" class="owl-carousel owl-inner-pagination owl-inner-nav owl-ui-lg">
												
												<div class="item">
													<figure>
														<img src="assets/images/art/work02-lg.jpg" alt="">
													</figure>
												</div><!-- /.item -->
												
												<div class="item">
													<figure>
														<img src="assets/images/art/work08-lg.jpg" alt="">
													</figure>
												</div><!-- /.item -->
												
												<div class="item">
													<figure>
														<img src="assets/images/art/work08a-lg.jpg" alt="">
													</figure>
												</div><!-- /.item -->
												
												<div class="item">
													<figure>
														<img src="assets/images/art/work08b-lg.jpg" alt="">
													</figure>
												</div><!-- /.item -->
												
												<div class="item">
													<figure>
														<img src="assets/images/art/work08c-lg.jpg" alt="">
													</figure>
												</div><!-- /.item -->
												
												<div class="item">
													<figure>
														<img src="assets/images/art/work08d-lg.jpg" alt="">
													</figure>
												</div><!-- /.item -->
												
											</div><!-- /.owl-carousel -->
										</div><!-- /.col -->
									</div><!-- /.row -->
									
									<div class="row">
										
										<div class="col-sm-7 inner-top-xs inner-right-xs">
											<header>
												<h2>Fresh branding for a creative startup</h2>
												<p class="text-normal">Magnis modipsae que lib voloratati andigen daepeditem quiate ut reporemni labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta oreprerum tibusam. Eumenis etus consent accullignis dentibea autem inisita posae volor conecus resto explabo.</p>
												<p class="text-normal">Soloreiur qui commolu ptatemp dolupta oreprerum tibusam emnis et consent accullignis. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae voloris remped modis doloreiur qui commolu dolupta oreprerum et consent.</p>
											</header>
										</div><!-- /.col -->
										
										<div class="col-sm-4 col-sm-offset-1 outer-top-xs inner-left-xs border-left">
											<ul class="item-details">
												<li class="date">May 23, 2015</li>
												<li class="categories">Identity, Interactive, Print</li>
												<li class="client">Creative Startup</li>
												<li class="url"><a href="http://demo.fuviz.com/reen">demo.fuviz.com/reen</a></li>
											</ul><!-- /.item-details -->
										</div><!-- /.col -->
										
									</div><!-- /.row -->
									
								</div><!-- /.container -->
								
							</section>
							
							<!-- ============================================================= SECTION – PORTFOLIO POST : END ============================================================= -->
							
							
							<!-- ============================================================= SECTION – SHARE ============================================================= -->
							
							<section id="share" class="light-bg">
								<div class="container">
									
									<div class="col-sm-4 reset-padding">
										<a href="#" class="btn-share-md">
											<p class="name">Facebook</p>
											<i class="icon-s-facebook"></i>
											<p class="counter">1080</p>
										</a>
									</div><!-- /.col -->
									
									<div class="col-sm-4 reset-padding">
										<a href="#" class="btn-share-md">
											<p class="name">Twitter</p>
											<i class="icon-s-twitter"></i>
											<p class="counter">1263</p>
										</a>
									</div><!-- /.col -->
									
									<div class="col-sm-4 reset-padding">
										<a href="#" class="btn-share-md">
											<p class="name">Google +</p>
											<i class="icon-s-gplus"></i>
											<p class="counter">963</p>
										</a>
									</div><!-- /.col -->
									
								</div><!-- /.container -->
							</section>
							
							<!-- ============================================================= SECTION – SHARE : END ============================================================= -->
							
						</div><!-- /.modal-body -->
						
						<!-- ============================================================= MODAL CONTENT : END ============================================================= -->
						
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div><!-- /.modal-footer -->
						
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			
			<!-- ============================================================= MODAL WORK02 : END ============================================================= -->
			
			
			<!-- ============================================================= MODAL WORK03 ============================================================= -->
			
			<div class="modal fade" id="modal-work03" tabindex="-1" role="dialog" aria-labelledby="modal-work03" aria-hidden="true">
				<div class="modal-dialog modal-md">
					<div class="modal-content">
						
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="icon-cancel-1"></i></span></button>
							<h4 class="modal-title" id="modal-work03">Medium modal</h4>
						</div><!-- /.modal-header -->
						
						<!-- ============================================================= MODAL CONTENT ============================================================= -->
						
						<div class="modal-body">
							
							<!-- ============================================================= SECTION – PORTFOLIO POST ============================================================= -->
							
							<section id="portfolio-post">
								<div class="container inner-top-xs inner-bottom">
									
									<div class="row">
										<div class="col-sm-12">
											<div class="video-container">
												<iframe src="http://player.vimeo.com/video/87360639?title=0&amp;byline=0&amp;portrait=0&amp;color=000000" width="1170" height="658" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
											</div>
										</div><!-- /.col -->
									</div><!-- /.row -->
									
									<div class="row inner-top-xs reset-xs">
										
										<div class="col-sm-7 inner-top-xs inner-right-xs">
											<header>
												<h2>Service information</h2>
												<p class="text-normal">Magnis modipsae que lib voloratati andigen daepeditem quiate ut reporemni labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta oreprerum tibusam. Eumenis etus consent accullignis dentibea autem inisita posae volor conecus resto explabo.</p>
												<p class="text-normal">Soloreiur qui commolu ptatemp dolupta oreprerum tibusam emnis et consent accullignis. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae voloris remped modis doloreiur qui commolu dolupta oreprerum et consent.</p>
											</header>
										</div><!-- /.col -->
										
										<div class="col-sm-4 col-sm-offset-1 outer-top-xs inner-left-xs border-left">
											<ul class="item-details">
												<li class="date">June 12, 2015</li>
												<li class="categories">Motion graphics</li>
												<li class="client">Mobile company</li>
												<li class="url"><a href="http://demo.fuviz.com/reen">demo.fuviz.com/reen</a></li>
											</ul><!-- /.item-details -->
										</div><!-- /.col -->
										
									</div><!-- /.row -->
									
								</div><!-- /.container -->
								
							</section>
							
							<!-- ============================================================= SECTION – PORTFOLIO POST : END ============================================================= -->
							
							
							<!-- ============================================================= SECTION – SHARE ============================================================= -->
							
							<section id="share" class="light-bg">
								<div class="container">
									
									<div class="col-sm-4 reset-padding">
										<a href="#" class="btn-share-md">
											<p class="name">Facebook</p>
											<i class="icon-s-facebook"></i>
											<p class="counter">1080</p>
										</a>
									</div><!-- /.col -->
									
									<div class="col-sm-4 reset-padding">
										<a href="#" class="btn-share-md">
											<p class="name">Twitter</p>
											<i class="icon-s-twitter"></i>
											<p class="counter">1263</p>
										</a>
									</div><!-- /.col -->
									
									<div class="col-sm-4 reset-padding">
										<a href="#" class="btn-share-md">
											<p class="name">Google +</p>
											<i class="icon-s-gplus"></i>
											<p class="counter">963</p>
										</a>
									</div><!-- /.col -->
									
								</div><!-- /.container -->
							</section>
							
							<!-- ============================================================= SECTION – SHARE : END ============================================================= -->
							
						</div><!-- /.modal-body -->
						
						<!-- ============================================================= MODAL CONTENT : END ============================================================= -->
						
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div><!-- /.modal-footer -->
						
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			
			<!-- ============================================================= MODAL WORK03 : END ============================================================= -->
			
			
			<!-- ============================================================= MODAL CONTACT01 ============================================================= -->
			
			<div class="modal fade" id="modal-contact01" tabindex="-1" role="dialog" aria-labelledby="modal-contact01" aria-hidden="true">
				<div class="modal-dialog modal-sm">
					<div class="modal-content">
						
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="icon-cancel-1"></i></span></button>
							<h4 class="modal-title" id="modal-contact01">Small modal</h4>
						</div><!-- /.modal-header -->
						
						<!-- ============================================================= MODAL CONTENT ============================================================= -->
						
						<div class="modal-body">
							
							<!-- ============================================================= SECTION – HERO ============================================================= -->
							
							<section id="hero" class="dark-bg img-bg img-bg-soft" style="background-image: url(assets/images/art/slider02.jpg);">
								<div class="container inner-xs">
									<div class="row">
										
										<div class="col-md-8 inner-right inner-bottom-xs">
											<header>
												<h1>Get in touch</h1>
												<p>Do you want to know more? We’d love to hear from you!</p>
											</header>
										</div><!-- /.col -->
										
										<div class="col-md-4">
											<h3 style="margin-top: 8px;">REEN</h3>
											<ul class="contacts">
												<li><i class="icon-location contact"></i> 84 Street, City, State 24813</li>
												<li><i class="icon-mobile contact"></i> +00 (123) 456 78 90</li>
												<li><a href="mailto:info@reen.com"><i class="icon-mail-1 contact"></i> info@reen.com</a></li>
											</ul><!-- /.contacts -->
										</div><!-- /.col -->
										
									</div><!-- ./row -->
								</div><!-- /.container -->
							</section>
							
							<!-- ============================================================= SECTION – HERO : END ============================================================= -->
							
							
							<!-- ============================================================= SECTION – CONTACT FORM ============================================================= -->
							
							<section id="contact-form">
								<div class="container inner-xs">
									<div class="row">
										<div class="col-xs-12 inner-bottom-xs">
											
											<h2>Leave a Message</h2>
											
											<form id="contactform" class="forms" action="contact.php" method="post">
												
												<div class="row">
													
													<div class="col-sm-6">
														<input type="text" name="name" class="form-control" placeholder="Name (Required)">
													</div><!-- /.col -->
													
													<div class="col-sm-6">
														<input type="email" name="email" class="form-control" placeholder="Email (Required)">
													</div><!-- /.col -->
													
												</div><!-- /.row -->
												
												<div class="row">
													<div class="col-xs-12">
														<textarea name="message" class="form-control" placeholder="Enter your message ..."></textarea>
													</div><!-- /.col -->
												</div><!-- /.row -->
												
												<button type="submit" class="btn btn-default btn-submit">Submit message</button>
												
											</form>
											
											<div id="response"></div>
											
										</div><!-- ./col -->
									</div><!-- /.row -->
								</div><!-- /.container -->
							</section>
							
							<!-- ============================================================= SECTION – CONTACT FORM : END ============================================================= -->
							
							
							<!-- ============================================================= SECTION – MAP ============================================================= -->
							
							<section id="map" class="height-xs"></section>
							
							<!-- ============================================================= SECTION – MAP : END ============================================================= -->
							
						</div><!-- /.modal-body -->
						
						<!-- ============================================================= MODAL CONTENT : END ============================================================= -->
						
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div><!-- /.modal-footer -->
						
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			
			<!-- ============================================================= MODAL CONTACT01 : END ============================================================= -->
			
			
			<!-- ============================================================= MODAL NOTIFICATION01 ============================================================= -->
			
			<div class="modal fade" id="modal-notification01" tabindex="-1" role="dialog" aria-labelledby="modal-notification01" aria-hidden="true">
				<div class="modal-dialog modal-xs">
					<div class="modal-content">
						
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="icon-cancel-1"></i></span></button>
							<h4 class="modal-title" id="modal-notification01">Extra Small modal</h4>
						</div><!-- /.modal-header -->
						
						<!-- ============================================================= MODAL CONTENT ============================================================= -->
						
						<div class="modal-body">
							
							<div class="container inner-xs text-center">
								<h2>High five!</h2>
								<p>Great that you’ve made it so far! Hope the template is useful for you. Keep enjoying it!</p>
							</div><!-- /.container -->
							
						</div><!-- /.modal-body -->
						
						<!-- ============================================================= MODAL CONTENT : END ============================================================= -->
						
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div><!-- /.modal-footer -->
						
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			
			<!-- ============================================================= MODAL NOTIFICATION01 : END ============================================================= -->
			
			
			<!-- ============================================================= MODALS : END ============================================================= -->
			
		</main>
		
		<!-- ============================================================= MAIN : END ============================================================= -->
