
		<!-- ============================================================= MAIN ============================================================= -->
		
		<main>
			
			<!-- ============================================================= SECTION – PORTFOLIO ============================================================= -->
		
			<section id="portfolio">
				
				<div class="container inner">
					<div class="row">
						<div class="col-md-8 col-sm-9 center-block text-center">
							<header>
								<h1>하나와영 진행 프로젝트</h1>
								<p class="text-small">현재 진행중인 프로젝트와 과거에 진행되었던 프로젝트를 나누어 볼 수 있습니다.</p>
							</header>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.container -->
				
				<div class="container inner-bottom">
					<div class="row">
						<div class="col-sm-12 portfolio">
							
							<ul class="filter text-center">
								<li><a href="#" data-filter="*" class="active">All</a></li>
								<li><a href="#" data-filter=".identity">Current Projects</a></li>
								<li><a href="#" data-filter=".interactive">Past Proects</a></li>
							</ul><!-- /.filter -->
							
							<ul class="items col-3">
								
								<li class="item thumb interactive"> <!-- identity: past projects -->
									<a href="/pages/project_post">
										<figure>
											<figcaption class="text-overlay">
												<div class="info">
													<h4>프로젝트 A</h4>
													<p>참여자</p>
												</div><!-- /.info -->
											</figcaption>
											<img src="/assets/images/art/work01.jpg" alt="">
										</figure>
									</a>
								</li><!-- /.item -->
								
								<li class="item thumb identity"> <!-- identity: current projects -->
									<a href="/pages/project_post">
										<figure>
											<figcaption class="text-overlay">
												<div class="info">
													<h4>프로젝트 B</h4>
													<p>참여자</p>
												</div><!-- /.info -->
											</figcaption>
											<img src="/assets/images/art/work02.jpg" alt="">
										</figure>
									</a>
								</li><!-- /.item -->
								
							</ul><!-- /.items -->
							
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.container -->
			</section>
			
			<!-- ============================================================= SECTION – PORTFOLIO : END ============================================================= -->
			
		</main>
		
		<!-- ============================================================= MAIN : END ============================================================= -->
		