		<!-- ============================================================= MAIN ============================================================= -->
		
		<main>

			<% content_for :head do %>
				<%= javascript_include_tag 'recruit.js' %>
			<% end %>
			
			<!-- ============================================================= SECTION – CONTACT FORM ============================================================= -->
			
			<section id="contact-form">
				<div class="container inner">
					
					<div class="row">
						<div class="col-md-8 col-sm-9 center-block text-center">
							<header>
								<h1>OAZ Recruit</h1>
								<p style="text-align:left">안녕하세요! 즐거운 2학기가 시작되었습니다. 새내기에겐 좀 더 익숙해진 캠퍼스가,
								 헌내기들에겐 미래를 위한 새로운 시간이 기다리고 있습니다!  
								<br>저희 하나와영은 2016년 2학기에 새로운 시간을 함께 적어나갈 사람들을 찾고 있습니다. 
								<br><br>지원을 위해 아래 칸에 이름(실명), 이메일, 지원하게 된 동기와 배우고 싶은 것들을 적어주세요!
								여기에 접수된 내용은 학회의 정책을 정하고 세미나를 개설하는데 유용하게 사용됩니다. 또 저희 DB에 안전하게 저장되며 
								제 3자에게 동의없이 제공되지 않습니다.
								</p>
							</header>
						</div><!-- /.col -->
					</div><!-- /.row -->
					
					<div class="row">
						<div class="col-sm-12">
							<div class="row">
								
								<div class="col-sm-6 outer-top-md inner-right-sm">
									
									<%= form_tag("/recruit", id: "contactform", class: "forms", method: "POST", remote: true) do%>
										
										<div class="row">
											<div class="col-sm-6">
												<input type="text" name="name" class="form-control" placeholder="이름 (Required)">
											</div><!-- /.col -->
										</div><!-- /.row -->
										
										<div class="row">
											<div class="col-sm-6">
												<input type="tel" name="phoneNumber" class="form-control" placeholder="전화번호 (Required)">
											</div><!-- /.col -->
										</div><!-- /.row -->
										
										<div class="row">
											<div class="col-sm-6">
												<input type="email" name="email" class="form-control" placeholder="E-mail (Required)">
											</div><!-- /.col -->
										</div><!-- /.row -->
										
										<div class="row">
											<div class="col-sm-12">
												<textarea name="message" class="form-control" placeholder="지원 동기, 배우고 싶은 것 등 학회에 하고 싶은 말을 적어주세요!"></textarea>
											</div><!-- /.col -->
										</div><!-- /.row -->
										
										<button type="submit" class="btn btn-default btn-submit">지원서 보내기</button>
										
									<% end %>
									
									<div id="response"></div>
									
								</div><!-- ./col -->
								
								<div class="col-sm-6 outer-top-md inner-left-sm border-left">
									
									<h2>Contacts</h2>
									<p>궁금하신 점이 있으시면 아래 연락처나 이메일로 연락주세요. <br>
									저희 임원들이 친절하게 설명해 드립니다.<br><br>
										
									부회장 오영택 
									<br>HP: 010-xxxx-xxxx<br>
									E-mail:asbs@gmail.com<br>
									총무 김승주 
									<br>HP: 010-XXXX-XXXX<br>
									E-mail:babeee@naver.com
									</p>
									
									<h3>하나와영_OneAndZero</h3>
									<ul class="contacts">
										<li><i class="icon-location contact"></i> 84 Street, City, State 24813</li>
										<li><i class="icon-mobile contact"></i> +00 (123) 456 78 90</li>
										<li><a href="mailto:info@reen.com"><i class="icon-mail-1 contact"></i> koreaoaz@gmail.com</a></li>
									</ul><!-- /.contacts -->
									
									<div class="social-network">
										<h3>Social</h3>
										<ul class="social">
											<li><a href="#"><i class="icon-s-facebook"></i></a></li>
											<li><a href="#"><i class="icon-s-gplus"></i></a></li>
											<li><a href="#"><i class="icon-s-twitter"></i></a></li>
											<li><a href="#"><i class="icon-s-pinterest"></i></a></li>
											<li><a href="#"><i class="icon-s-behance"></i></a></li>
											<li><a href="#"><i class="icon-s-dribbble"></i></a></li>
										</ul><!-- /.social -->
									</div><!-- /.social-network -->
									
								</div><!-- /.col -->
								
							</div><!-- /.row -->
						</div><!-- /.col -->
					</div><!-- /.row -->
					
				</div><!-- /.container -->
			</section>
			
			<!-- ============================================================= SECTION – CONTACT FORM : END ============================================================= -->
			
			
		</main>
		
		<!-- ============================================================= MAIN : END ============================================================= -->
		
