		<!-- ============================================================= MAIN ============================================================= -->
		
		<main>

			<% content_for :head do %>
				<%= javascript_include_tag 'recruit.js' %>
			<% end %>
			
			<!-- ============================================================= SECTION – CONTACT FORM ============================================================= -->
			
			<section id="contact-form">
				<div class="container inner">
					
					
					<div class="row">
						<div class="col-md-8 col-sm-9 center-block text-center">
							<header>
								<h1>OAZ Recruit</h1>
								<p class="text-normal">
									열정만 가지고 오세요!
								</p>
								<p>
									나머지는 채워드립니다.
								</p>
							</header>
						</div><!-- /.col -->
					</div><!-- /.row -->
					
					
					<div class="row">
						<div class="col-sm-12">
							<div class="row">
								
								<div class="col-sm-6 outer-top-md inner-right-sm">
									
									<%= form_tag("/pages/recruit_check", id: "recruitform", class: "forms", method: "POST", remote: true) do%>
										
										<div class="row">
											<div class="col-sm-6">
												<input type="text" name="name" class="form-control" placeholder="이름 (Required)" required>
											</div><!-- /.col -->
										</div><!-- /.row -->
										
										<div class="row">
											<div class="col-sm-6">
												<input type="tel" name="phoneNumber" class="form-control" placeholder="전화번호 (Required)" required>
											</div><!-- /.col -->
										</div><!-- /.row -->
										
										<div class="row">
											<div class="col-sm-6">
												<input type="email" name="email" class="form-control" placeholder="E-mail (Required)" required>
											</div><!-- /.col -->
										</div><!-- /.row -->
										
										<div class="row">
											<div class="col-sm-12">
												<textarea name="message" class="form-control" placeholder="지원 동기, 배우고 싶은 것 등 학회에 하고 싶은 말을 적어주세요!" required></textarea>
											</div><!-- /.col -->
										</div><!-- /.row -->
										
										<button type="submit" id="form_submit_button" class="btn btn-default btn-submit">지원서 보내기</button>
										
									<% end %>
									
									<div id="response"></div>
									
								</div><!-- ./col -->
								
								<div class="col-sm-6 outer-top-md inner-left-sm border-left">
									
									<h2>하나와영 OneAndZero</h2>
									<ul class="contacts" class="text-small">
										<li><i class="icon-location contact"></i> KoreaUniv. 공학별관 703</li>
										<li><i class="icon-mobile contact"></i>01000000000 회장 김재훈</li>
										<li><a href="mailto:info@reen.com"><i class="icon-mail-1 contact"></i> koreaoaz@gmail.com</a></li>
									</ul><!-- /.contacts -->
									
									<div class="social-network">
										<h3>Social</h3>
										<ul class="social">
											<li><a href="#"><i class="icon-s-facebook"></i></a></li>
										</ul><!-- /.social -->
									</div><!-- /.social-network -->
									
								</div><!-- /.col -->
								
							</div><!-- /.row -->
						</div><!-- /.col -->
					</div><!-- /.row -->
					
				</div><!-- /.container -->
			</section>
			
			<!-- ============================================================= SECTION – CONTACT FORM : END ============================================================= -->
			
			
		</main>
		
		<!-- ============================================================= MAIN : END ============================================================= -->
		
