		<!-- ============================================================= MAIN ============================================================= -->
		
		<main>
			
			<!-- ============================================================= SECTION – CONTACT FORM ============================================================= -->
			
			<section id="contact-form">
				<div class="container inner">
					
					<div class="row">
						<div class="col-md-8 col-sm-9 center-block text-center">
							<header>
								<h1>OAZ Recruit</h1>
								<p>뭐라고 워딩을 할까욧!</p>
							</header>
						</div><!-- /.col -->
					</div><!-- /.row -->
					
					<div class="row">
						<div class="col-sm-12">
							<div class="row">
								
								<div class="col-sm-6 outer-top-md inner-right-sm">
									
									<form id="contactform" class="forms" action="contact.php" method="post">
										
										<div class="row">
											<div class="col-sm-6">
												<input type="text" name="name" class="form-control" placeholder="Name (Required)">
											</div><!-- /.col -->
										</div><!-- /.row -->
										
										<div class="row">
											<div class="col-sm-6">
												<input type="email" name="email" class="form-control" placeholder="Email (Required)">
											</div><!-- /.col -->
										</div><!-- /.row -->
										
										<div class="row">
											<div class="col-sm-12">
												<textarea name="message" class="form-control" placeholder="Enter your message ..."></textarea>
											</div><!-- /.col -->
										</div><!-- /.row -->
										
										<button type="submit" class="btn btn-default btn-submit">Submit message</button>
										
									</form>
									
									<div id="response"></div>
									
								</div><!-- ./col -->
								
								<div class="col-sm-6 outer-top-md inner-left-sm border-left">
									
									<h2>Contacts</h2>
									<p>수정 예정</p>
									
									<h3>REEN</h3>
									<ul class="contacts">
										<li><i class="icon-location contact"></i> 84 Street, City, State 24813</li>
										<li><i class="icon-mobile contact"></i> +00 (123) 456 78 90</li>
										<li><a href="mailto:info@reen.com"><i class="icon-mail-1 contact"></i> info@reen.com</a></li>
									</ul><!-- /.contacts -->
									
									<div class="social-network">
										<h3>Social</h3>
										<ul class="social">
											<li><a href="#"><i class="icon-s-facebook"></i></a></li>
											<li><a href="#"><i class="icon-s-gplus"></i></a></li>
											<li><a href="#"><i class="icon-s-twitter"></i></a></li>
											<li><a href="#"><i class="icon-s-pinterest"></i></a></li>
											<li><a href="#"><i class="icon-s-behance"></i></a></li>
											<li><a href="#"><i class="icon-s-dribbble"></i></a></li>
										</ul><!-- /.social -->
									</div><!-- /.social-network -->
									
								</div><!-- /.col -->
								
							</div><!-- /.row -->
						</div><!-- /.col -->
					</div><!-- /.row -->
					
				</div><!-- /.container -->
			</section>
			
			<!-- ============================================================= SECTION – CONTACT FORM : END ============================================================= -->
			
			
		</main>
		
		<!-- ============================================================= MAIN : END ============================================================= -->
		