
		<!-- ============================================================= MAIN ============================================================= -->
		
		<main>
			
			<div class="container inner">
				<div class="row">
					
					<div class="col-md-3 inner-right-md inner-bottom-sm">
						
						<!-- ============================================================= SIDE NAVIGATION ============================================================= -->
							
						<!-- 게시판 종류 리스트 -->
						<ul class="sidenav">
							<li><a href="#">Board1</a></li>
						</ul><!-- /.sidenav -->
						
						<!-- ============================================================= SIDE NAVIGATION : END ============================================================= -->
						
					</div><!-- /.col -->
					
					<div class="col-md-9 inner-left-md border-left">
						
						<!-- ============================================================= SECTION – HERO ============================================================= -->

						
						<!-- ============================================================= SECTION – HERO : END ============================================================= -->
						
						
						<!-- ============================================================= SECTION – CONTENT ============================================================= -->
						
									<!-- ============================================================= SECTION – BLOG POST ============================================================= -->
			

					<div class="row">
						
							<div class="sidemeta">
								
								<div class="post format-standard">
									

									
									<div class="post-content">
										

										<!-- 작성자 -->
										<p class="author">작성자: <a href="#">Amber Jones</a></p> 
										
										<!-- 제목 -->
										<h1 class="post-title">Learn how to successfully design brand identities</h1>
										
										<ul class="meta">
											<!-- 게시판 종류 -->
											<li class="categories">Board1</li>
											<li class="comments"><a href="#">24</a></li>
											<li class="views"><a href="#">73</a></li>
										</ul><!-- /.meta -->
										<p style="border-bottom: 1px solid; padding-top: 10px;"></p>
										
										<!-- 게시물 내용 시작 -->
										<p>Magnis modipsae que lib voloratati andigen daepeditem ut repro labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta oreprerum aut tibusam. Eumenis et consent accullignis dentibea autem inisita posae volor conecus resto explabo que voloratati andigen emperum quiae sitiorem.</p>
										
										<h2>Create a unique logotype</h2>
										
										<p>Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor. Magnis modipsae que lib voloratati andigen daepeditem ut repro labor. Doloreiur qui commolu ptatemp dolupta oreprerum aut tibus. Eumenis et consent accullignis dentibea autem inisita posae volor.</p>
										
										<p>Conecus iure posae volor remped modis aut accabora incim resto explabo eictemperum quiae sitiorem. Doloreiur qui commolu ptatemp dolupta oreprerum tibusam emnis et consent accullignis.</p>
										
										
										<!-- 게시물 중간에 이미지, 부연설명 첨부 가능 -->
										<figure>
											<img src="/assets/images/art/work08g-lg.jpg" alt="">
											<figcaption>Eumenis et consent accullignis inisita posae volor.</figcaption>
										</figure>
										
										<h2>Simplicity and production values</h2>
										
										<p>Magnis modipsae que lib voloratati andigen daepeditem ut repro labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta oreprerum aut tibusam. Eumenis et consent accullignis dentibea autem inisita posae volor conecus resto explabo que voloratati andigen emperum quiae sitiorem.</p>
										
										
									</div><!-- /.post-content -->
									
								</div><!-- /.post -->
								
								
								
								<div id="comments">
									<h2>5 Comments</h2>
									<ol class="commentlist">
										<li class="comment">
											<div class="avatar icon-overlay icn-link">
												<a href="#"><img src="/assets/images/art/human02.jpg" alt=""></a>
											</div><!-- /.avatar -->
											
											<div class="commentbody">
												
												<div class="author">
													<h3><a href="#">Jennifer Fox</a></h3>
													<div class="meta">
														<span class="date">about 5 hours ago</span>
													</div><!-- /.meta -->
												</div><!-- /.author -->
												
												<div class="message">
													<p>Magnis modipsae que lib voloratati andigen daepeditem ut repro labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta oreprerum aut tibusam. Eumenis et consent accullignis dentibea autem inisita posae volor conecus resto explabo que voloratati andigen emperum quiae sitiorem.</p>
													<ul class="meta">
														<li class="reply"><a href="#">Reply</a></li>
														<li class="votes">24</li>
														<li class="upvote"><a href="#"><i class="icon-thumbs-up"></i></a></li>
														<li class="downvote"><a href="#"><i class="icon-thumbs-down"></i></a></li>
													</ul><!-- /.meta -->
												</div><!-- /.message -->
												
											</div><!-- /.commentbody -->
										</li><!-- /.comment -->
										
										<li class="comment">
											<div class="avatar icon-overlay icn-link">
												<a href="#"><img src="/assets/images/art/human03.jpg" alt=""></a>
											</div><!-- /.avatar -->
											
											<div class="commentbody">
												
												<div class="author">
													<h3><a href="#">Chris Cavill</a></h3>
													<div class="meta">
														<span class="date">about 4 hours ago</span>
													</div><!-- /.meta -->
												</div><!-- /.author-->
												
												<div class="message">
													<p>Conecus iure posaemne voloris remped modis aut accabora incim resto explaboris eictemperum quiae sitiorem. Doloreiur qui commolu ptatemp dolupta oreprerum tibusam emnis et consent accullignis.</p>
													<ul class="meta">
														<li class="reply"><a href="#">Reply</a></li>
														<li class="votes">18</li>
														<li class="upvote"><a href="#"><i class="icon-thumbs-up"></i></a></li>
														<li class="downvote"><a href="#"><i class="icon-thumbs-down"></i></a></li>
													</ul><!-- /.meta -->
												</div><!-- /.message -->
												
											</div><!-- /.commentbody -->
											
											<ul class="children">
												<li class="comment">
													<div class="avatar icon-overlay icn-link">
														<a href="#"><img src="/assets/images/art/human01.jpg" alt=""></a>
													</div><!-- /.avatar -->
													
													<div class="commentbody">
														
														<div class="author">
															<h3><a href="#">Amber Jones</a></h3>
															<div class="meta">
																<span class="date">about 2 hours ago</span>
															</div><!-- /.meta -->
														</div><!-- /.author -->
														
														<div class="message">
															<p>Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor. Magnis modipsae que lib volorati andigen daepeditem ut repro labor. Menis et consent accullignis dentibea autem inisita eictemperum quiae posae volor.</p>
															<ul class="meta">
																<li class="reply"><a href="#">Reply</a></li>
																<li class="votes">20</li>
																<li class="upvote"><a href="#"><i class="icon-thumbs-up"></i></a></li>
																<li class="downvote"><a href="#"><i class="icon-thumbs-down"></i></a></li>
															</ul><!-- /.meta -->
														</div><!-- /.message -->
														
													</div><!-- /.commentbody -->
													
													<ul class="children">
														<li class="comment">
															<div class="avatar icon-overlay icn-link">
																<a href="#"><img src="/assets/images/art/human04.jpg" alt=""></a>
															</div><!-- /.avatar -->
															
															<div class="commentbody">
																
																<div class="author">
																	<h3><a href="#">Toby Evans</a></h3>
																	<div class="meta">
																		<span class="date">about 1 hour ago</span>
																	</div><!-- /.meta -->
																</div><!-- /.author -->
																
																<div class="message">
																	<p>Magnis modipsae que lib voloratati andigen daep editem ut repro labor. Laceaque quiae sitiorem rest non restibsae es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta oreprum aut tibusam. Eumenis et consent accullignis dentibea autem inisita posae volor conecus resto explabo que voloratati andigen emperum quiae sitiorem.</p>
																	<ul class="meta">
																		<li class="reply"><a href="#">Reply</a></li>
																		<li class="votes">9</li>
																		<li class="upvote"><a href="#"><i class="icon-thumbs-up"></i></a></li>
																		<li class="downvote"><a href="#"><i class="icon-thumbs-down"></i></a></li>
																	</ul><!-- /.meta -->
																</div><!-- /.message -->
																
															</div><!-- /.commentbody -->
														</li><!-- /.comment -->
													</ul><!-- /.children -->
												</li><!-- /.comment -->
											</ul><!-- /.children -->
										</li><!-- /.comment -->
										
										<li class="comment">
											<div class="avatar icon-overlay icn-link">
												<a href="#"><img src="/assets/images/art/human05.jpg" alt=""></a>
											</div><!-- /.avatar -->
											
											<div class="commentbody">
												
												<div class="author">
													<h3><a href="#">Sophie Adams</a></h3>
													<div class="meta">
														<span class="date">about 20 minutes ago</span>
													</div><!-- /.meta -->
												</div><!-- /.author -->
												
												<div class="message">
													<p>Conecus iure posae volor remped modisatae aut accabora incim resto explaboris eictemperum quiae sitiorem. Doloreiur qui commolu ptatemp dolupta oreprerum tibusam emnis et consent accullignis. Doloreiur qui commolu ptatemp dolupta oreprerum aut tibusam. Eumenis et consent accullignis dentibea autem inisita posae volor conecus resto explabo voloratati andigen emperum quiae sitiorem rest non restibsae.</p>
													<ul class="meta">
														<li class="reply"><a href="#">Reply</a></li>
														<li class="votes">3</li>
														<li class="upvote"><a href="#"><i class="icon-thumbs-up"></i></a></li>
														<li class="downvote"><a href="#"><i class="icon-thumbs-down"></i></a></li>
													</ul><!-- /.meta -->
												</div><!-- /.message -->
												
											</div><!-- /.commentbody -->
										</li><!-- /.comment -->
									</ol><!-- /.commentlist -->
								</div><!-- /#comments -->
								
								<div class="comment-form-wrapper">
									<h2>덧글 작성</h2>
									
									<form id="commentform" class="forms" action="" method="post">
										
										
										
										<div class="row">
											<div class="col-sm-12">
												<textarea name="message" class="form-control" placeholder="덧글을 입력하세요."></textarea>
											</div><!-- /.col -->
										</div><!-- /.row -->
										
										<button type="submit" class="btn btn-default btn-submit">작성하기</button>
										
									</form>
									
									<div id="response"></div>
								</div><!-- /.comment-form-wrapper -->
							
							</div><!-- /.sidemeta -->
					
					</div><!-- /.row -->

			
			<!-- ============================================================= SECTION – BLOG POST : END ============================================================= -->
			
						
						<!-- ============================================================= SECTION – CONTENT : END ============================================================= -->
						
					</div><!-- ./col -->
						
				</div><!-- /.row -->
			</div><!-- /.container -->
			
		</main>
		
		<!-- ============================================================= MAIN : END ============================================================= -->
		
