
		<!-- ============================================================= MAIN ============================================================= -->
		
		<main>
			
			<div class="container inner">
				<div class="row">
					
					<div class="col-md-3 inner-right-md inner-bottom-sm">
						
						<!-- ============================================================= SIDE NAVIGATION ============================================================= -->
							
						<!-- 게시판 종류 리스트 -->
						<ul class="sidenav">
							<li><a href="/pages/project">Current Project List</a></li>
							<li><a href="/pages/project">Past Project List</a></li>
						</ul><!-- /.sidenav -->
						
						<!-- ============================================================= SIDE NAVIGATION : END ============================================================= -->
						
					</div><!-- /.col -->
					
					<div class="col-md-9 inner-left-md border-left">
						
						<!-- ============================================================= SECTION – HERO ============================================================= -->

						
						<!-- ============================================================= SECTION – HERO : END ============================================================= -->
						
						
						<!-- ============================================================= SECTION – CONTENT ============================================================= -->
						
									<!-- ============================================================= SECTION – BLOG POST ============================================================= -->
			

					<div class="row">
						
							<div class="sidemeta">
								
							
								<div class="panel panel-default">			  
									
									<div class="panel-heading">
										<h2 class="panel-title">
											<a class="panel-toggle">
												<span>Recent Project</span>
											</a>
										</h2>
									</div><!-- /.panel-heading -->
									
									
									<div id="content-related-posts" class="panel-collapse collapse in">
										<div class="panel-body">
											<div id="owl-related-posts" class="owl-carousel owl-item-gap">
											
												<!-- 프로젝트 이미지 항목 1개 -->
												<div class="item">
													<figure>
													
														<div class="icon-overlay icn-link">
															<a href="/pages/showproject"><img src="/assets/images/art/work08a.jpg" alt=""></a> <!-- 이미지 주소 -->
														</div><!-- /.icon-overlay -->
														
														<figcaption class="bordered no-top-border">
															<div class="info">
																<h4><a href="/pages/showproject">프로젝트 제목</a></h4>
																<p>참여자 외 1명</p>
															</div><!-- /.info -->
														</figcaption>
														
													</figure>
												</div><!-- /.item -->
												<!-- 끝 -->
											
												
											</div><!-- /.owl-carousel -->
										</div><!-- /.panel-body -->
									</div><!-- /.content -->
									</div>
									
								<div class="post format-standard">
									

									
									<div class="post-content">
										<div class="text-small text-right">
											<a href="#"><i class="icon-edit"></i> 수정하기</a> | 
											<a href="#"><i class="icon-trash-1" ></i>삭제하기</a>
										</div>


										<!-- 제목 -->
										<h1 class="post-title">프로젝트 제목</h1>

										
										<p style="border-bottom: 1px solid; padding-top: 10px;"></p>
										
										<!-- 게시물 내용 시작 -->
										<p>Magnis modipsae que lib voloratati andigen daepeditem ut repro labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta oreprerum aut tibusam. Eumenis et consent accullignis dentibea autem inisita posae volor conecus resto explabo que voloratati andigen emperum quiae sitiorem.</p>
										
										<h2>Create a unique logotype</h2>
										
										<p>Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor. Magnis modipsae que lib voloratati andigen daepeditem ut repro labor. Doloreiur qui commolu ptatemp dolupta oreprerum aut tibus. Eumenis et consent accullignis dentibea autem inisita posae volor.</p>
										
										<p>Conecus iure posae volor remped modis aut accabora incim resto explabo eictemperum quiae sitiorem. Doloreiur qui commolu ptatemp dolupta oreprerum tibusam emnis et consent accullignis.</p>
										
										
										<!-- 게시물 중간에 이미지, 부연설명 첨부 가능 -->
										<figure>
											<img src="/assets/images/art/work08g-lg.jpg" alt="">
											<figcaption>Eumenis et consent accullignis inisita posae volor.</figcaption>
										</figure>
										
										<h2>Simplicity and production values</h2>
										
										<p>Magnis modipsae que lib voloratati andigen daepeditem ut repro labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta oreprerum aut tibusam. Eumenis et consent accullignis dentibea autem inisita posae volor conecus resto explabo que voloratati andigen emperum quiae sitiorem.</p>
										
										
									</div><!-- /.post-content -->
									
								</div><!-- /.post -->
							
								
								<div class="comment-form-wrapper">
								
									

								</div><!-- /.comment-form-wrapper -->
							
							</div><!-- /.sidemeta -->
					
					</div><!-- /.row -->

			
			<!-- ============================================================= SECTION – BLOG POST : END ============================================================= -->
			
						
						<!-- ============================================================= SECTION – CONTENT : END ============================================================= -->
						
					</div><!-- ./col -->
						
				</div><!-- /.row -->
			</div><!-- /.container -->
			
		</main>
		
		<!-- ============================================================= MAIN : END ============================================================= -->
		
