		<main>
			<!-- ============================================================= SECTION – BLOG ============================================================= -->
			 
			<section id="blog" class="light-bg">
				<div class="container inner-top-sm inner-bottom classic-blog no-sidebar">
					
					<div class="row inner-bottom-xs">
						<div class="col-sm-12">	
							<ul class="format-filter text-center">
								<li><a class="active" href="#" data-filter="*" title="All" data-rel="tooltip" data-placement="top"><i class="icon-th"></i></a></li>
							</ul><!-- /.format-filter -->
						</div><!-- /.col -->
						
						<!-- Admin 전용 타임라인 게시 -->
						<div class="col-sm-12">
							<p class="text-center"><a href="/pages/newTimeline" class="btn btn-small btn-red">Timeline 작성</a></p>
						</div>
					</div><!-- /.row -->
					
					<div class="row">
						<div class="col-md-9 center-block">
							
							<div class="posts sidemeta">
								
								<div class="post format-standard"> <!-- 첫번째 타임라인 포스트 -->
									
									<div class="date-wrapper">
										<div class="date">
											<span class="day">xxxx.</span> <!-- year로 씁시다. -->
											<span class="month">00.</span> <!-- month로 씁시다. -->
										</div><!-- /.date -->
									</div><!-- /.date-wrapper -->
									
									<!-- Admin 전용 타임라인 수정/삭제 -->
									<div class="text-right">
										<a href="/pages/editTimeline" title="Edit" data-rel="tooltip" data-placement="top"><i class="icon-edit"></i></a>
										<a href="delTimeline" class="active" title="Delete" data-rel="tooltip" data-placement="top"><i class="icon-trash-1"></i></a>
									</div><!-- /.format-wrapper -->
									
									<div class="post-content">
										
										<h1 class="post-title">
											<a href="#">하나와영 창립</a> 
										</h1>
										
										<p class="text-small">이렇게 저렇게 어쩌고 저쩌고 해서 하나와영이 이 날 태어나게 되었습니다.</p> <!-- 부연설명(있을경우만) -->
									</div><!-- /.post-content --> 
									
								</div><!-- /.post -->
								
								<div class="post format-standard"> <!-- 두번째 타임라인 포스트 -->
									
									<div class="date-wrapper">
										<div class="date">
											<span class="day">xxxx.</span> <!-- year로 씁시다. -->
											<span class="month">00.</span> <!-- month로 씁시다. -->
										</div><!-- /.date -->
									</div><!-- /.date-wrapper -->
									
									<div class="post-content">
										
										<h1 class="post-title">
											<a href="#">하나와영 창립</a> 
										</h1>
										
										<p class="text-small">이렇게 저렇게 어쩌고 저쩌고 해서 하나와영이 이 날 태어나게 되었습니다.</p> <!-- 부연설명(있을경우만) -->
									</div><!-- /.post-content --> 
									<br /><br />
								</div><!-- /.post -->
								
								
								
							</div><!-- /.posts -->
						</div><!-- /.col -->
					</div><!-- /.row -->
					
				</div><!-- /.container -->
			</section>
			
			<!-- ============================================================= SECTION – BLOG : END ============================================================= -->
			
		</main>
		
		<!-- ============================================================= MAIN : END ============================================================= -->
		