
<!-- ============================================================= MAIN ============================================================= -->

<main>

  <div class="container inner">
    <div class="row">

      <div class="col-md-3 inner-right-md inner-bottom-sm">

        <!-- ============================================================= SIDE NAVIGATION ============================================================= -->

        <ul class="sidenav">
          <li><a href="#">Board1</a></li>
          <li><a href="#">Board2</a></li>
          <li><a href="#">Board3</a></li>
        </ul><!-- /.sidenav -->

        <!-- ============================================================= SIDE NAVIGATION : END ============================================================= -->

      </div><!-- /.col -->

      <div class="col-md-9 inner-left-md border-left">

        <!-- ============================================================= SECTION – HERO ============================================================= -->



        <!-- ============================================================= SECTION – HERO : END ============================================================= -->


        <!-- ============================================================= SECTION – CONTENT ============================================================= -->


        <section>


          <section class="content-header"  style="padding-bottom: 5px; border-bottom: 2px solid;">
            <h1>
              글쓰기
            </h1>
            <ol class="breadcrumb">
              <li><i class="fa fa-dashboard"></i>Board</li>
              <li class="active">Board1</li>
            </ol>
          </section>

          <section style="margin-top: 20px;">

            <form id="" class="forms" action="/board/<%= @board.name %>/posts" method="POST">
              <center>
                <div class="row">
                  <div class="col-sm-12">
                    <input type="text" name="post[title]" class="form-control" placeholder="제목">
                  </div><!-- /.col -->
                </div><!-- /.row -->

                <div class="row">
                  <div class="col-sm-12">
                    <textarea name="post[content]" class="form-control" placeholder="내용"></textarea>
                  </div><!-- /.col -->
                </div><!-- /.row -->

                <button type="submit" class="btn btn-default btn-submit">글쓰기</button>
              </center>
            </form>


          </section>
          <br />








          <ul class="filter text-center">
            <!-- Alumni  경계 위아래 구분선 -->
          </ul><!-- /.filter -->
          <!-- To the right -->
          <div class="pull-right hidden-xs">
            개발 넘나 힘든것
          </div>
          <!-- Default to the left -->
          <strong>Copyright &copy; 2016 <a href="#">oneandzero</a>.</strong> All rights reserved.




        </section>




        <!-- ============================================================= SECTION – CONTENT : END ============================================================= -->

      </div><!-- ./col -->

    </div><!-- /.row -->
  </div><!-- /.container -->

</main>

<!-- ============================================================= MAIN : END ============================================================= -->