
			<div class="row pricing col-4">
				<% @borrowablestuffs.each do |borrowablestuff| %>
				<% @borrowablestuff = borrowablestuff %>
				<% case @borrowablestuff.status(@user) when "borrowable" %><%= render :partial => "borrowablestuffs/borrow" %>
				<% when "returnable" %><%= render :partial => "borrowablestuffs/return" %>
				<% when "showstuffable" %><%= render :partial => "borrowablestuffs/showstuff" %>
				<% end %>
				<% end %>
			</div><!-- /.row -->