		<!-- ============================================================= MAIN ============================================================= -->
		
		<main>
			
			<!-- ============================================================= SECTION – PRICING TABLES ============================================================= -->
			
			<section id="pricing-tables">
				<div class="container inner">
					
					<div class="row">
						<div class="col-md-8 col-sm-9 center-block text-center">
							<header>
								<h1>물품 대여</h1>
								<p>
									학회실에 비치되어있는 물품들을 등록하여 자유롭게 대여받을 수 있습니다.
								</p>
								<p class="text-normal">찾으시는 물품이 없으세요? </p><p class="text-normal"><a href="/borrowablestuffs/new" style="no-decoration"><i class="icon-suitcase"></i> 물품 등록하기</a></p>
								<br />
							</header>

						</div><!-- /.col -->
						
						
					</div><!-- /.row -->
						
							<ul class="filter text-center">
								<li><a href="#" data-filter="*" class="active">All</a></li>
								<li><a href="#" data-filter=".book">Book</a></li>
								<li><a href="#" data-filter=".etc">etc</a></li>
							</ul><!-- /.filter -->
					
					
					<div class="row pricing col-4">
						
												
						
                <% @borrowablestuffs.each do |borrowablestuff| %>
                	<% @borrowablestuff = borrowablestuff %>
					<% case @borrowablestuff.status(@user)
           			   when "borrowable" %><%= render :partial => "borrow" %>
        			<% when "returnable" %><%= render :partial => "return" %>
        			<% when "showstuffable" %><%= render :partial => "showstuff" %>
        			<% end %>
        		<% end %>

						<div class="col-lg-3 col-sm-6">
							<div class="plan">
								
								<header>
									
									<div class="price">
										<span class="amount">적당한 물품 이름</span>
									</div><!-- /.price -->
									
									<h2>BOOK-101</h2>
									

									<div class="thumb">
										<figure class="icon-overlay">
											<img src="/assets/images/art/work02.jpg" alt="">
										</figure>
									</div><!-- /.thumb -->
									
									
																						
									<p><h2>디스크립션이 만약에 아주만약 길어진다면 어떻게 뜨려나요? - 몰라욥</h2></p>
									
									<a href="#" class="btn btn-small btn-gray">물품 대여하기</a> <!-- 대여 상태 및 해당 유저의 대여 정보에 따라 버튼의 내용이 대여하기/반납하기/대여중(클릭불가)로 --> 
								</header>
								
								<ul class="features text-small">
									<li><i class="icon-window"></i>분류: 책</li>
									<li><i class="icon-check-1"></i> 대여가능</li> <!-- 대여 가능/불가 -->
									
									<!-- 아래 두 항목은 해당 물품이 대여상태일 때만 보이게 -->
									
									<li><i class="icon-users"></i> 대여자: XXX</li>
									<li><i class="icon-calendar"></i> 반납일: XXX</li>
									
								</ul><!-- /.features -->
								
							</div><!-- /.plan -->
						</div><!-- /.col -->

						<div class="col-lg-3 col-sm-6 book">

							<div class="plan">
								
								<header>
									
									<div class="price">
										<span class="amount">적당한 물품 이름</span>
									</div><!-- /.price -->
									
									<h2>BOOK-101</h2>
									

									<div class="thumb">
										<figure class="icon-overlay">
											<img src="/assets/images/art/work02.jpg" alt="">
										</figure>
									</div><!-- /.thumb -->
									
									
																						
									<p><h2>description</h2></p>
									
									<a href="#" class="btn btn-small btn-gray">물품 대여하기</a> <!-- 대여 상태 및 해당 유저의 대여 정보에 따라 버튼의 내용이 대여하기/반납하기/대여중(클릭불가)로 --> 
								</header>
								
								<ul class="features text-small">
									<li><i class="icon-window"></i>분류: 책</li>
									<li><i class="icon-check-1"></i> 대여가능</li> <!-- 대여 가능/불가 -->
									
									<!-- 아래 두 항목은 해당 물품이 대여상태일 때만 보이게 -->
									<!--
									<li><i class="icon-users"></i> 대여자: XXX</li>
									<li><i class="icon-calendar"></i> 반납일: XXX</li>
									-->
								</ul><!-- /.features -->
								
							</div><!-- /.plan -->
						</div><!-- /.col -->

						
					</div><!-- /.row -->
					
				</div><!-- /.container -->
			</section>
			
			<!-- ============================================================= SECTION – PRICING TABLES : END ============================================================= -->
			
			
		</main>
		
		<!-- ============================================================= MAIN : END ============================================================= -->
		
	