
<!-- ============================================================= MAIN ============================================================= -->

<main>

  <div class="container inner">
    <div class="row">

      <div class="col-md-9 inner-left-md border-left">

        <!-- ============================================================= SECTION – HERO ============================================================= -->



        <!-- ============================================================= SECTION – HERO : END ============================================================= -->


        <!-- ============================================================= SECTION – CONTENT ============================================================= -->


        <section>
          <%= render "borrowablestuffs/new" %>
          <br />








          <ul class="filter text-center">
            <!-- Alumni  경계 위아래 구분선 -->
          </ul><!-- /.filter -->
          <!-- To the right -->
          <div class="pull-right hidden-xs">
            개발 넘나 힘든것
          </div>
          <!-- Default to the left -->
          <strong>Copyright &copy; 2016 <a href="#">oneandzero</a>.</strong> All rights reserved.




        </section>




        <!-- ============================================================= SECTION – CONTENT : END ============================================================= -->

      </div><!-- ./col -->

    </div><!-- /.row -->
  </div><!-- /.container -->

</main>

<!-- ============================================================= MAIN : END ============================================================= -->
