
<!-- ============================================================= MAIN ============================================================= -->

<main>

  <div class="container inner">
    <div class="row">

      <div class="col-md-12">
        <div class="row pricing col-4">
          <!-- ============================================================= SECTION – HERO ============================================================= -->



          <!-- ============================================================= SECTION – HERO : END ============================================================= -->


          <!-- ============================================================= SECTION – CONTENT ============================================================= -->

          <% case @borrowablestuff.status(@user) when "borrowable" %><%= render :partial => "borrow" %>
          <% when "returnable" %><%= render :partial => "return" %>
          <% when "showstuffable" %><%= render :partial => "showstuff" %>
          <% end %>

        </div>
        
        <a href="/borrowablestuffs" class="btn btn-small btn-gray">리스트 보기</a>









        <!-- ============================================================= SECTION – CONTENT : END ============================================================= -->

      </div><!-- ./col -->

    </div><!-- /.row -->
  </div><!-- /.container -->

</main>

<!-- ============================================================= MAIN : END ============================================================= -->
