<!DOCTYPE html>
<html>

<head>
  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>하나와영</title>
  <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>



        <!-- Fonts -->
        <link href="http://fonts.googleapis.com/css?family=Lato:400,900,300,700" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic" rel="stylesheet">

        <!-- Icons/Glyphs -->
        <link href="/assets/fonts/fontello.css" rel="stylesheet">

        <!-- Favicon -->
        <link rel="shortcut icon" href="/assets/images/favicon.ico">

        <!-- HTML5 elements and media queries Support for IE8 : HTML5 shim and Respond.js -->
        <!--[if lt IE 9]>
        <script src="/assets/js/html5shiv.js"></script>
        <script src="/assets/js/respond.min.js"></script>
        <![endif]-->
</head>

<body>
  <!-- ============================================================= HEADER ============================================================= -->
  <header>
    <div class="navbar">

      <div class="navbar-header">
        <div class="container">

          <ul class="info pull-left">
            <li><b>고려대학교 소프트웨어 전공학회 하나와영</b></li>
            <!--<li><i class="icon-mobile contact"></i> 010 3186 9822 </li>-->
          </ul>
          <!-- /.info -->

          <ul class="info pull-right">
            <% if user_signed_in? %>
              <li><a href="/users/sign_out" data-method="DELETE">로그아웃</a></a></li>
            <% else %>
              <li><a href="/users/sign_in">로그인</a></li>
              <li><a href="/users/sign_up">회원가입</a></li>
            <% end %>
          </ul>
          <!-- /.social -->

          <!-- ============================================================= LOGO MOBILE ============================================================= -->

          <a class="navbar-brand" href="index.html"><img src="/assets/images/logo.png" class="logo" alt=""></a>

          <!-- ============================================================= LOGO MOBILE : END ============================================================= -->

          <a class="btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i class='icon-menu-1'></i></a>

        </div>
        <!-- /.container -->
      </div>
      <!-- /.navbar-header -->

      <div class="yamm">
        <div class="navbar-collapse collapse">
          <div class="container">

            <!-- ============================================================= LOGO ============================================================= -->

            <a class="navbar-brand" href="/"><img src="/assets/images/logo.png" class="logo" alt=""></a>

            <!-- ============================================================= LOGO : END ============================================================= -->


            <!-- ============================================================= MAIN NAVIGATION ============================================================= -->

            <ul class="nav navbar-nav">
              
              <li class="dropdown">
                <a href="#" class="dropdown-toggle js-activated">About us</a>

                <ul class="dropdown-menu">
                  <li><a href="/pages/about">About OAZ</a></li>
                  <li><a href="/pages/timeline">Timeline</a></li>
                </ul> 
              </li>
              
              <li class="dropdown">
                <a href="/pages/recruit" class="dropdown-toggle">Recruit</a>
                <!-- /.dropdown-menu -->
              </li>
              <!-- /.dropdown -->
              
              <li class="dropdown">
                <a href="#" class="dropdown-toggle js-activated">Members</a>

                <ul class="dropdown-menu">
                  <li><a href="/professor">Professor</a></li>
                  <li><a href="/members">Member</a></li>
                  <li><a href="/alumni">Alumni</a></li>
                  <!-- <li><a href="portfolio2.html">3 Columns Details Grid</a></li> -->

                </ul>
                <!-- /.dropdown-menu -->
              </li>
              <!-- /.dropdown -->

              <li class="dropdown">
                <a href="#" class="dropdown-toggle js-activated">Blog</a>

                <ul class="dropdown-menu">
                  <li><a href="blog.html">Sidebar right</a></li>
                  <li><a href="blog2.html">Sidebar left</a></li>
                  <li><a href="blog3.html">Without Sidebar</a></li>
                  <li><a href="blog4.html">2 Columns Grid Sidebar right</a></li>
                  <li><a href="blog5.html">2 Columns Grid Sidebar left</a></li>
                  <li><a href="blog6.html">2 Columns Grid without Sidebar</a></li>
                  <li><a href="blog7.html">3 Columns Grid without Sidebar</a></li>
                  <li><a href="blog-post.html">Post Sidebar right</a></li>
                  <li><a href="blog-post2.html">Post Sidebar left</a></li>
                  <li><a href="blog-post3.html">Post without Sidebar</a></li>
                </ul>
                <!-- /.dropdown-menu -->
              </li>
              <!-- /.dropdown -->
              
              <li class="dropdown">
                <a href="#" class="dropdown-toggle js-activated">Board</a>

                <ul class="dropdown-menu">
                  <li><a href="/pages/board_main">board1</a></li>
                  <li><a href="/pages/board_main">board2</a></li>
                  <li><a href="/pages/board_main">board3</a></li>

                </ul>
                <!-- /.dropdown-menu -->
              </li>
              <!-- /.dropdown -->


              <!-- ============================================================= MEGA MENU ============================================================= -->

              <li class="dropdown yamm-fullwidth">
                <a href="#" class="dropdown-toggle js-activated">Projects</a>

                <ul class="dropdown-menu yamm-dropdown-menu">
                  <li>
                    <div class="yamm-content row">

                      <div class="col-sm-3 inner">
                        <h4>Focus on</h4>
                        <figure>
                          <div class="icon-overlay icn-link">
                            <a href="/pages/project_post"><img src="/assets/images/art/work01.jpg" alt=""></a>
                          </div>
                          <figcaption>
                            <p>Project explanation will be here!</p>
                            <a href="/pages/project_post" class="btn">View This Project</a>
                          </figcaption>
                        </figure>
                      </div>
                      <!-- /.col -->

                      <div class="col-sm-3 inner">
                        <h4>Current Project</h4>

                        <div class="row thumbs gap-xs">

                          <div class="col-xs-6 thumb">
                            <figure class="icon-overlay icn-link">
                              <a href="/pages/project_post"><img src="/assets/images/art/work02.jpg" alt=""></a>
                            </figure>
                          </div>
                          <!-- /.thumb -->

                          <div class="col-xs-6 thumb">
                            <figure class="icon-overlay icn-link">
                              <a href="/pages/project_post"><img src="/assets/images/art/work03.jpg" alt=""></a>
                            </figure>
                          </div>
                          <!-- /.thumb -->

                          <div class="col-xs-6 thumb">
                            <figure class="icon-overlay icn-link">
                              <a href="/pages/project_post"><img src="/assets/images/art/work04.jpg" alt=""></a>
                            </figure>
                          </div>
                          <!-- /.thumb -->

                          <div class="col-xs-6 thumb">
                            <figure class="icon-overlay icn-link">
                              <a href="/pages/project_post"><img src="/assets/images/art/work05.jpg" alt=""></a>
                            </figure>
                          </div>
                          <!-- /.thumb -->

                          <div class="col-xs-6 thumb">
                            <figure class="icon-overlay icn-link">
                              <a href="/pages/project_post"><img src="/assets/images/art/work06.jpg" alt=""></a>
                            </figure>
                          </div>
                          <!-- /.thumb -->

                          <div class="col-xs-6 thumb">
                            <figure class="icon-overlay icn-link">
                              <a href="/pages/project_post"><img src="/assets/images/art/work07.jpg" alt=""></a>
                            </figure>
                          </div>
                          <!-- /.thumb -->

                        </div>
                        <!-- /.row -->
                      </div>
                      <!-- /.col -->
                      

                      <div class="col-sm-3 inner">
                        <h4>Past Works</h4>

                        <ul class="circled">
                          <li><a href="/pages/project_post">프로젝트 A</a></li>
                          <li><a href="/pages/project_post">프로젝트 B</a></li>
                          <li><a href="/pages/project_post">프로젝트 C</a></li>
                          <li><a href="/pages/project_post">프로젝트 D</a></li>
                          <li><a href="/pages/project_post">프로젝트 E</a></li>
                          <li><a href="/pages/project_post">프로젝트 F</a></li>
                          <li><a href="/pages/project_post">프로젝트 G</a></li>
                          <li><a href="/pages/project_post">프로젝트 H</a></li>
                          <li><a href="/pages/project_post">프로젝트 I</a></li>
                          <li><a href="/pages/project_post">프로젝트 J</a></li>
                        </ul>
                        <!-- /.circled -->
                      </div>
                      <!-- /.col -->


                      <div class="col-sm-3 inner">
                        <h4>About Us</h4>
                        <p class="text-normal">워딩해주세요 버튼 적당하게 내려가도록</p>
                        <a href="/pages/project" class="btn">More Projects</a>
                      </div>
                      <!-- /.col -->

                    </div>
                    <!-- /.yamm-content -->
                  </li>
                </ul>
                <!-- /.yamm-dropdown-menu -->
              </li>
              <!-- /.yamm-fullwidth -->

              <!-- ============================================================= MEGA MENU : END ============================================================= -->


              <li class="dropdown pull-right searchbox">
                <a href="#" class="dropdown-toggle js-activated"><i class="icon-search"></i></a>

                <div class="dropdown-menu">
                  <form id="search" class="navbar-form search" role="search">
                    <input type="search" class="form-control" placeholder="Type to search">
                    <button type="submit" class="btn btn-default btn-submit icon-right-open"></button>
                  </form>
                </div>
                <!-- /.dropdown-menu -->
              </li>
              <!-- /.searchbox -->

            </ul>
            <!-- /.nav -->

            <!-- ============================================================= MAIN NAVIGATION : END ============================================================= -->

          </div>
          <!-- /.container -->
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.yamm -->
    </div>
    <!-- /.navbar -->
  </header>
  <!-- ============================================================= HEADER : END ============================================================= -->


  <%= yield %>


  <!-- ============================================================= FOOTER ============================================================= -->

  <footer class="dark-bg">
    <div class="container inner">
      <div class="row">

        <div class="col-md-3 col-sm-6 inner">
          <h4>고려대학교 소프트웨어 전공학회</h4>
          <a href="/"><img class="logo img-intext" src="/assets/images/korean_logo_white.png" alt="" style="width:250px; height:80px;"></a>
          <p>Magnis modipsae voloratati andigen daepeditem quiate re porem que aut labor. Laceaque eictemperum quiae sitiorem rest non restibusaes maio es dem tumquam.</p>
          <a href="/pages/about" class="txt-btn">더 알아보기</a>
        </div><!-- /.col -->

        <div class="col-md-3 col-sm-6 inner">
          <h4>Recent projects</h4>

          <div class="row thumbs gap-xs">

            <div class="col-xs-6 thumb">
              <figure class="icon-overlay icn-link">
                <a href="/pages/project_post"><img src="/assets/images/art/work02.jpg" alt=""></a>
              </figure>
            </div><!-- /.thumb -->

            <div class="col-xs-6 thumb">
              <figure class="icon-overlay icn-link">
                <a href="/pages/project_post"><img src="/assets/images/art/work03.jpg" alt=""></a>
              </figure>
            </div><!-- /.thumb -->

            <div class="col-xs-6 thumb">
              <figure class="icon-overlay icn-link">
                <a href="/pages/project_post"><img src="/assets/images/art/work07.jpg" alt=""></a>
              </figure>
            </div><!-- /.thumb -->

            <div class="col-xs-6 thumb">
              <figure class="icon-overlay icn-link">
                <a href="/pages/project_post"><img src="/assets/images/art/work01.jpg" alt=""></a>
              </figure>
            </div><!-- /.thumb -->

          </div><!-- /.row -->
        </div><!-- /.col -->

        <div class="col-md-3 col-sm-6 inner">
          <h4>Contact us</h4>
          <p>하나와영은 항시 같이 미래를 만들어나갈 학회원을 모집합니다.</p>
          <ul class="contacts">
            <li><i class="icon-location contact"></i>고려대학교 공학별관 603호</li>
            <li><i class="icon-mobile contact"></i> 010 3186 9822 </li>
            <li><a href="#"><i class="icon-mail-1 contact"></i> koreaoaz@gmail.com</a></li>
          </ul><!-- /.contacts -->
        </div><!-- /.col -->

        <div class="col-md-3 col-sm-6 inner">
          <h4>Newsletter</h4>
          <p>메일링 리스트에 가입하시면 매달 하나와영만의 뉴스레터를 보내드립니다.</p>
          <form id="newsletter" class="form-inline newsletter" role="form">
            <label class="sr-only" for="exampleInputEmail">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail" placeholder="이메일 주소를 입력하세요">
            <button type="submit" class="btn btn-default btn-submit">구독</button>
          </form>
        </div><!-- /.col -->

      </div><!-- /.row -->
    </div><!-- .container -->

    <div class="footer-bottom">
      <div class="container inner">
        <p class="pull-left">© 2016 하나와영. All rights Reserved.</p>
        <ul class="footer-menu pull-right">
          <li><a href="/">Home</a></li>
          <li><a href="/pages/about">About</a></li>
          <li><a href="">Blog</a></li>
          <li><a href="about.html">Projects</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul><!-- .footer-menu -->
      </div><!-- .container -->
    </div><!-- .footer-bottom -->
  </footer>

  <!-- ============================================================= FOOTER : END ============================================================= -->

  <!-- JavaScripts placed at the end of the document so the pages load faster -->
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/jquery.easing.1.3.min.js"></script>
  <script src="/assets/js/jquery.form.js"></script>
  <script src="/assets/js/jquery.validate.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/bootstrap-hover-dropdown.min.js"></script>
  <script src="/assets/js/skrollr.min.js"></script>
  <script src="/assets/js/skrollr.stylesheets.min.js"></script>
  <script src="/assets/js/waypoints.min.js"></script>
  <script src="/assets/js/waypoints-sticky.min.js"></script>
  <script src="/assets/js/owl.carousel.min.js"></script>
  <script src="/assets/js/jquery.isotope.min.js"></script>
  <script src="/assets/js/jquery.easytabs.min.js"></script>
  <script src="/assets/js/google.maps.api.v3.js"></script>
  <script src="/assets/js/viewport-units-buggyfill.js"></script>
  <script src="/assets/js/scripts.js"></script>

</body>

</html>
